*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background-color:blueviolet;
    height:1000vh;
}

.head{
    width:100%;
    height:100vh;
    background-color:rgba(43, 174, 226, 0.63)
}

.cont{
    width:40%;
    margin:auto;
    height:100vh;
    
    position: fixed;
    top:180px;
    left:30%;
}
.top{
    width: 86%;
height: 90px;
position: absolute;
left: -15px;
z-index: 2;

}
.btm{
    width: 100%;
height: 500px;
position: absolute;
top: 41px;
z-index:3;

}
.top img, .btm img{
    width:100%;
    height:100%;
}

.gtt{
    width:100px;
    height:100px;
    position: absolute;
    z-index: 1;
    transition:all .3s ease-in-out;
}

.gtt img{
    width:100%;
    height:100%;

}

.random{
    width: 70%;
margin: 30px;
position: relative;
}