
.preloader-cont{
	width: 100%;
	height: 100%;
	border: 1px solid black;
    padding-top: 10vh;
}

.imgload{
	/* height: 25%; */
	width: 16%;
	overflow: hidden;
    margin: auto;
    
}

/* .imgload img {
    width: 160px;
    height: 160px;
} */

.imgload img {
    width: 100%;
    height: 170px;
}

.textload{
    width: 50%;
    margin: auto;
    text-align: center;
    background-color:#0082c3;
    padding: 2px;
    /* width: 150px; */
    position: relative;
    height:100%;
    color:#fff;
}
/* .textload::before {
    content: " ";
    width: 10px;
    height: 100%;
    color: #02131c;
    display: block;
    left: -10px;
    background: #02131c;
    position: absolute;
    top: 0;
} */
.textload h2{
    font-size:85px;
    letter-spacing:6.5
}
.diago {
    position: absolute;
    top: 0;
    left: -31px;
    width: 10px;
    height: 100%;
    border-color: #0082c3 #fff0 #0082c3 #fff0;
    border-width: 0 2px 180 30px;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    transform: rotate(1deg);
}
.widthloader{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    bottom: 28px;
    z-index: -1;
}

.diago1{
    position: absolute;
    top: 0;
    right: -30px;
    width: 10px;
    height: 100%;
    border-color: #0082c3 #fff0 #0082c3 #fff0;
    border-width: 0 2px 180 30px;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    transform: rotate(180deg);

}

.ttsimplmnt{
    text-align:center;
   position: relative;
   bottom: 33px;
}

.ttsimplmnt h3{
    font-size:40px;
}

.R{
    animation: preloaderR .5s linear infinite alternate;    
}

@keyframes preloaderR {
    0%{
        transform: rotate(-10deg)
    }
    
    100%{
      transform: rotate(10deg)
    }
    
}