.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    color: #000;
}
table{
    color: #000;
}
.products .grid-sizer {
    width: 24.25%;
}
.grid-gutter {
    width: 1%;
}
.products .grid-item--blueNavy {
    background-color: #47c9f3 !important;
}
.products .grid-item--product-blueNavy, .products .grid-item--product-blueNavy.active {
    background-color: #47c9f3;
}
.products .grid-text--product {
    font-size: 30px;
}
.products .grid-text--product {
    height: 305px;
}
.products .grid-item, .products .grid-sizer {
    width: 24.25%;
}
.grid-text {
    padding: 30px 30px;
    font-size: 20px;
 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}


.products .grid-item-width-2, .products .grid-sizer-width-2 {

    width: 49.5%;

}

.products .grid-item--product {
    font-size: 20px;
}
.products .grid-item--product {
    padding-left: 5px;
    padding-right: 5px;
    height: 305px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}
.products .grid-item--big-product img {
    max-width: 250px !important;
    margin: auto;
}
.products .product-name {
    color: #fff;
   
    padding-bottom: 15px;
}
.products .grid-item--product-yellow, .products .grid-item--product-yellow.active {
    background-color: #fec669;
}
.grid-item--yellow {
    background-color: #f7cc4e;
}
.products .grid-item--product-blue, .products .grid-item--product-blue.active {
    background-color: #1064ad;
}
.grid-item--blue{
    background-color: #1064ad;
}
.products .grid-item--product-green, .products .grid-item--product-green.active {
    background-color: #6bc7c0;
}
.grid-item--green{
    background-color: #6bc7c0;
}
.grid-item--green {
    background-color: #6bc7c0;
}
.products .grid-item--product-pink, .products .grid-item--product-pink.active {
    background-color: #e27098;
}

.products .grid-item--product-purple, .products .grid-item--product-purple.active {
    background-color: #a872ae;
}
.grid-item--purple {
    background-color: #a872ae;
}

/* hover */

.products .grid-item--product-blueNavy.active:hover, .products .grid-item--product-blueNavy:hover {
    background-color: #43bfe7;
}
.products .grid-item--product-blue.active:hover, .products .grid-item--product-blue:hover {
    background-color: #126cbb;
}
.products .grid-item--product-pink.active:hover, .products .grid-item--product-pink:hover {
    background-color: #e9759e;
}

.products .grid-item--product-green.active:hover, .products .grid-item--product-green:hover {
    background-color: #70cfc8;
}
.products .grid-item--product-purple.active:hover, .products .grid-item--product-purple:hover {
    background-color: #ae77b4;
}




/* chevrons */

.fa-chevron-left{
    position: absolute;
    top: 50%;
    left: 40px;
    font-size: 50px;
    color: blanchedalmond;
    animation: chevronleft .5s linear infinite alternate; 
    }
.fa-chevron-right{
    position: absolute;
    top: 50%;
    right: 50px;
    font-size: 50px;
    color: blanchedalmond;
    animation: chevronright .5s linear infinite alternate; 
    }


@keyframes chevronleft {
    0%{
        
        left: 60px;

    }
    25%{
        left: 30px;
    }
    50%{
        left: 50px;
    }
    75%{
        left: 45px;
    }
    100%{
        left: 40px;
    }
}

@keyframes chevronright {
    0%{
        
        right: 60px;

    }
    25%{
        right: 30px;
    }
    50%{
        right: 50px;
    }
    75%{
        right: 45px;
    }
    100%{
        right: 40px;
    }
}