

ul {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.logo {
  font-size: 40px;
}

.menu-links ul li {
  display: inline-block;
  padding-right: 20px;
}

.search,
.cart {
  font-size: 20px;
}

.content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: -1;
}

.title {
  flex: 0 0 100%;
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 700;
}

.tagline {
  flex: 1;
  font-size: 30px;
  color: #999;
}

.pages {
  flex: 0;
  letter-spacing: 5px;
  color: #999;
}

.pages span {
  font-size: 60px;
  color: #000;
  font-weight: 600;
}

.more {
  flex: 1;
}

.more a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  background: #000;
  padding: 10px 30px;
  border-radius: 10px;
}

.desc {
  flex: 0 0 32%;
}

.desc p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 20px;
}

.desc p:nth-child(2) {
  line-height: 2;
}

.desc span {
  color: #AECD31;
}

/* .juice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
} */

.juice{
  animation: float 4s ease-in-out infinite;
  max-height: 470px;
}

@keyframes float {
  0% {
    transform: translate(-50%, -46%);
  }
  50% {
    transform: translate(-50%, -54%);
  }
  100% {
    transform: translate(-50%, -46%);
  }
}

.leaves {
  width: 100%;
  height: 100vh;
  position: fixed;
  /* top: 50%; */
  top: 300px;
  left: 50%;
  z-index: 1;
}

.leaves img {
  max-width: 70px;
  max-height: 100px;
}

.leaves .layer:nth-child(1) {
  top: -100px !important;
  left: -480px !important;
}

.leaves .layer:nth-child(2) {
  top: 10px !important;
  left: 160px !important;
}

.leaves .layer:nth-child(3) {
  top: -210px !important;
  left: 160px !important;
}

.leaves .layer:nth-child(4) {
  top: -10px !important;
  left: 320px !important;
}

.leaves .layer:nth-child(5) {
  top: 100px !important;
  left: -230px !important;
}
.leaves .layer:nth-child(6) {
  top: 40px !important;
  left: -480px !important;
}
.arrows .prev {
  position: absolute;
  top: 50%;
  left: 100px;
}

.arrows .next {
  position: absolute;
  top: 50%;
  right: 100px;
}

.arrows button {
  border: 1px solid #999;
  background: transparent;
  padding: 20px;
  border-radius: 50%;
  outline: none;
}

.arrows button:hover {
  color: #fff;
  background: #000;
}




@media screen and (max-width:800px) {
	.inline{
		flex-direction: column;
		
	}
	.card__content{
		padding: 7em 4em !important;
	}
	.card__title {
		font-size: 2rem !important;
	}
	.card__body{
		font-size:1rem !important;
	}
	.cardwithbackg{
		margin-bottom: 5px;
	}
	.white-fill{
		bottom: -160px
	}
	.leaves img {
		max-width: 45px !important;
		 
	  }

	  .leaves .layer:nth-child(1) {
	 
		left: -180 !important;
	  }
	  .leaves .layer:nth-child(2) {
	 
		left: 70px !important;
	  }
    .leaves .layer:nth-child(3) {
      top: -210px !important;
      left: 50px !important;
    }
	  .leaves .layer:nth-child(4){
		  left:126px !important;
      top: 66px !important;
      display: none;
	  }
	  .leaves .layer:nth-child(5) {
		top: 64px !important;
		left: -193px !important;
	  }
	  .leaves .layer:nth-child(6) {
      top: 165px !important;
      left: -60px !important;
    }
}