{% extends "pages/base.html" %}
{% load static %}

 {% block head %}

 <link rel="stylesheet" href="{% static 'css/base.css' %}">
 <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="{% static 'css/about.css' %}">
 {% endblock head %}


 
{% block header %}
<header id="header" class="header wrapper home" style="margin: 0;padding: 0;background:#47c9f3 ;">
   <div class="header__top" style="padding:10px ; background: #FFF;height: 80px;">
      <div class="header__top-logo">
         <a class="logo" href="/"><img alt="OREO" src="{% static 'images/logobely1.png' %}"></a>
        </div>
      <div class="header__top-nav">
         <nav role="navigation">
            <ul class="desktop-menu only-desktop">
               <li><a class="active js-event-cta" href="/" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="home">Accueil</a></li>
               <li><a class="js-event-cta" href="/produits" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="products">Produits</a></li>
               <li><a class="js-event-cta" href="/about" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="recipes">About</a></li>
               <li><a class="js-event-cta" href="/faq" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="nice to know">FAQ</a></li>
            </ul>
           
           
         </nav>
      </div>
      <div class="header__top-social only-desktop">
       <ul class="social-icons">
           <li><a href="#"><i class="fab fa-instagram"></i></a></li>
           <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          
          
       </ul>
      </div>
   </div>
   <div class="header__banner">
	<div id="citation" >
		<p style="text-align: center;">About!</p>
		</div>
      <div class="top-banner-container">
    
         <!-- <div class="swiper-wrapper">
           
            <div class="swiper-slide"><img  src="{% static 'images/oreofr.png' %}" alt="watermark" width="421" height="421"></div>
         </div> -->
       
        
         <!--<div class="swiper-button-prev"></div>-->
         <!--<div class="swiper-button-next"></div>-->
      </div>
   </div>
   <div class="header__arrow-down">
     <a href="#home">
        <img src="{% static 'images/arrow-down.png' %}" alt="arrow-down" width="62" height="62">
     </a>
   </div>
   <div class="white-fill">
    <img src="{% static 'images/twist-fill.png' %}" alt="">
 </div>
 
  </header>
{% endblock header %}

{% block content %}
    


    <div class="page" id="about-page">
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-5">
            <h1>About me</h1>
            <p>
                L’entreprise BELIEDELICE est une Société A Responsabilité Limitée (S.A.R.L)
                 créée par Monsieur Maiza Djamel en juin 2017.
                
                
            </p>
            <p>C’est une entreprise de production de biscuits qui opére dans 
                l’industrie agroalimentaire.

            </p>
          </div>
        </div>
      </div>



{% endblock content %}