{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bely</title>
    <link rel="stylesheet" href="{% static  'css/preloader.css' %}">
    <link rel="stylesheet" href="{% static  'css/faq.css' %}">
    <link rel="stylesheet" href="{% static  'css/main.css' %}">
    <link rel="stylesheet" href="{% static  'css/bootstrap.min.css' %}">
    <link rel="icon" sizes="180x180" href="{% static 'images/fichier ai beli delice/logobely1.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
  
    {% block head %}
      
    {% endblock head %}
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"> -->
</head>
<body>
   <main>
      <section class="section1">

         <header id="header" class="header wrapper home" style="margin: 0;padding: 0;">
             <div class="header__top" style="padding:10px ; background: #FFF;height: 80px;">
                <div class="header__top-logo"><a class="logo" href="/"><img alt="OREO" src="{% static 'images/fichier ai beli delice/logobely1.png' %}"></a></div>
                <div class="header__top-nav">
                   <nav role="navigation">
                      <ul class="desktop-menu only-desktop">
                         <li><a class="active js-event-cta" href="/" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="home">Accueil</a></li>
                         <li><a class="js-event-cta" href="/produits" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="products">Produits</a></li>
                         <li><a class="js-event-cta" href="/recettes" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="recipes">Recettes</a></li>
                         <li><a class="js-event-cta" href="/recettes" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="recipes">About</a></li>
                         <li><a class="js-event-cta" href="/faq" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="nice to know">FAQ</a></li>
                      </ul>
                     
                     
                   </nav>
                </div>
                <div class="header__top-social only-desktop">
                 <ul class="social-icons">
                     <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                     <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    
                    
                 </ul>
                </div>
             </div>
             <div class="header__banner">
                <div class="top-banner-container">
              
                   <!-- <div class="swiper-wrapper">
                     
                      <div class="swiper-slide"><img  src="{% static 'images/oreofr.png' %}" alt="watermark" width="421" height="421"></div>
                   </div> -->
                   <div class="splited-bely">
                     
                      <!-- <div class="left-bely">
                         <img src="{% static 'images/leftoreo.png' %}" alt="">
                      </div>
                      <div class="right-bely" style="right:22px">
                         <img src="{% static 'images/rightoreo.png' %}" alt="">
                      </div> -->
                      <div class="left-bely">
                        <img src="{% static 'images/fichier ai beli delice/bely 22222.png' %}" alt="">
                     </div>
                     <div class="right-bely">
                        <img src="{% static 'images/fichier ai beli delice/bely1.png' %}" alt="">
                     </div>
                   </div>
                  
                   <!--<div class="swiper-button-prev"></div>-->
                   <!--<div class="swiper-button-next"></div>-->
                </div>
             </div>
             <div class="header__arrow-down">
               <a href="#home">
                  <img src="{% static 'images/arrow-down.png' %}" alt="arrow-down" width="62" height="62">
               </a>
               </div>
             <figure class="cookie-small-4 cookie-small" data-content-type="image" data-appearance="full-width" 
             data-element="main" style="border-style: none;">
               <img class="pagebuilder-mobile-hidden" src="{% static 'images/fichier ai beli delice/face2.png' %}" alt="" title="" 
             data-element="desktop_image" style="max-width: 100%; height: auto;height: 120px;">
            </figure>
            <figure class="cookie-small-4 cookie-small" data-content-type="image" data-appearance="full-width" 
             data-element="main" style="border-style: none;bottom: 350px;
             right: 96px;">
               <img class="pagebuilder-mobile-hidden" src="{% static 'images/fichier ai beli delice/face2.png' %}" alt="" title="" 
             data-element="desktop_image" style="max-width: 100%; height: auto;height: 120px;">
            </figure>
            <figure class="cookie-small-5 cookie-small" data-content-type="image" data-appearance="full-width" 
             data-element="main" style="border-style: none;">
               <img class="pagebuilder-mobile-hidden" src="{% static 'images/fichier ai beli delice/face.png' %}" alt="" title="" 
             data-element="desktop_image" style="max-width: 100%; height: auto;height: 120px;">
            </figure>
            <script>
               setInterval(() => {
                  document.querySelectorAll(".cookie-small")[0].style.animation="cookiesmove 6s linear infinite";
                  setTimeout(() => {
                  document.querySelectorAll(".cookie-small")[0].style.animation="cookies 6s linear infinite"
               }, 6000);
               }, 6000);
            </script>
             <div class="white-fill">
               <img src="{% static 'images/twist-fill.png' %}" alt="">
            </div>
            </header>
          {% block content %}
            
          {% endblock content %}       
          
 
     </section>
     <!-- <h2>Apollo</h2>
        <div class="grid">
          <figure class="effect-apollo">
            <img src="https://tympanus.net/Development/HoverEffectIdeas/img/18.jpg" alt="img18"/>
            <figcaption>
              <h2>Strong <span>Apollo</span></h2>
              <p>Apollo's last game of pool was so strange.</p>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
          <figure class="effect-apollo" style="background-color: #e27098;">
            <img src="https://tympanus.net/Development/HoverEffectIdeas/img/22.jpg" alt="img22"/>
            <figcaption>
              <h2>Strong <span>Apollo</span></h2>
              <p>Apollo's last game of pool was so strange.</p>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
        </div> -->
 
 
        
        <!-- footer -->
        <div class="footer-basic">
         <h2 style="text-align: center;
         color: #fff;">Newsletter</h2>
         <form class="newsletter-form" style="margin: 15px auto;">
          
            <input type="email" placeholder="Email address" />
            <button>
                <span class="default">Subscribe</span>
                <span class="success">
                    <svg viewBox="0 0 16 16">
                        <polyline points="3.75 9 7 12 13 5"></polyline>
                    </svg>Done
                </span>
                <svg class="trails" viewBox="0 0 33 64">
                    <path d="M26,4 C28,13.3333333 29,22.6666667 29,32 C29,41.3333333 28,50.6666667 26,60"></path>
                    <path d="M6,4 C8,13.3333333 9,22.6666667 9,32 C9,41.3333333 8,50.6666667 6,60"></path>
                </svg>
                <div class="plane">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
            </button>
        </form>
            <footer>
              

            
            
                <div class="social">
                   <a href="#"><i class="fab fa-instagram"></i></a>
                   <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  
                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">Services</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <div class="logo-footer">
                   <img src="{% static 'images/fichier ai beli delice/logobely1.png' %}" alt="">
                </div>
                <p class="copyright"> Beliedelice  © 2022</p>
            </footer>
        </div>
   </main>
   
   
  <div class="preloader">

   <!-- <div class="imgloader">
      <img src="{% static 'images/oreofr.png' %}" alt="">
   </div> -->
   <div class="preloader-cont">
      <div class="imgload">
         <img src="{% static 'images/fichier ai beli delice/logobely1.png' %}" alt="">
      </div>

      <div class="widthloader">
         <div class="textload">
            
            <div class="diago">
               
            </div>
            
            <h2>
               Beliedelice
            </h2>
            <div class="diago1">
               
            </div>
            <span class="R" style="position: absolute;
            top: 10px;
            right: -10px;
            font-size: 33px;
            ">&reg;</span>
         </div>

      </div>
      <div class="ttsimplmnt">
         <h3 class="loaderanimatedtxt">Simplement bon!</h3>
      </div>
   </div>

  </div>
  
		<div class="cursor">
			<div class="cursor__inner cursor__inner--circle"></div>
			<div class="cursor__inner cursor__inner--dot"></div>
		</div>
   
      <!--  -->
      <div class="social-panel-container">
         <div class="social-panel">
            <p>Created with <i class="fa fa-heart"></i> by
               <a target="_blank" href="#">Sagitta production</a></p>
            <button class="close-btn"><i class="fa fa-times"></i></button>
            <h4>Get in touch on</h4>
            <ul>
              
               <li>
                  <a href="#" target="_blank">
                     <i class="fab fa-linkedin-in"></i>
                  </a>
               </li>
               <li>
                  <a href="#" target="_blank">
                     <i class="fab fa-facebook-f"></i>
                  </a>
               </li>
               <li>
                  <a href="#" target="_blank">
                     <i class="fab fa-instagram"></i>
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <button class="floating-btn">
         Get in Touch
      </button>
  <script >
     window.addEventListener("load",function(){
        setTimeout(() => {
         document.querySelector(".preloader").remove()
        }, 2800);
     })
  </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
                <script>
                   const { to, fromTo, set } = gsap
  
  function validateEmail(email) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(String(email).toLowerCase())
  }
  
  document.querySelectorAll('.newsletter-form').forEach(form => {
  
      let input = form.querySelector('input'),
          button = form.querySelector('button'),
          getVar = variable => getComputedStyle(button).getPropertyValue(variable)
  
      input.addEventListener('input', e => {
          form.classList.toggle('valid', validateEmail(input.value))
      })
  
      form.addEventListener('submit', e => {
  
          e.preventDefault()
  
          if(!validateEmail(input.value)) {
              input.focus()
              return
          }
  
          if(!button.classList.contains('active')) {
  
              button.classList.add('active')
  
              to(button, {
                  keyframes: [{
                      '--left-wing-first-x': '50%',
                      '--left-wing-first-y': '100%',
                      '--right-wing-second-x': '50%',
                      '--right-wing-second-y': '100%',
                      duration: .2,
                      onComplete() {
                          set(button, {
                              '--left-wing-first-y': '0%',
                              '--left-wing-second-x': '40%',
                              '--left-wing-second-y': '100%',
                              '--left-wing-third-x': '0%',
                              '--left-wing-third-y': '100%',
                              '--left-body-third-x': '40%',
                              '--right-wing-first-x': '50%',
                              '--right-wing-first-y': '0%',
                              '--right-wing-second-x': '60%',
                              '--right-wing-second-y': '100%',
                              '--right-wing-third-x': '100%',
                              '--right-wing-third-y': '100%',
                              '--right-body-third-x': '60%'
                          })
                      }
                  }, {
                      '--left-wing-third-x': '20%',
                      '--left-wing-third-y': '90%',
                      '--left-wing-second-y': '90%',
                      '--left-body-third-y': '90%',
                      '--right-wing-third-x': '80%',
                      '--right-wing-third-y': '90%',
                      '--right-body-third-y': '90%',
                      '--right-wing-second-y': '90%',
                      duration: .2
                  }, {
                      '--rotate': '50deg',
                      '--left-wing-third-y': '95%',
                      '--left-wing-third-x': '27%',
                      '--right-body-third-x': '45%',
                      '--right-wing-second-x': '45%',
                      '--right-wing-third-x': '60%',
                      '--right-wing-third-y': '83%',
                      duration: .25
                  }, {
                      '--rotate': '60deg',
                      '--plane-x': '-8px',
                      '--plane-y': '40px',
                      duration: .2
                  }, {
                      '--rotate': '40deg',
                      '--plane-x': '45px',
                      '--plane-y': '-300px',
                      '--plane-opacity': 0,
                      duration: .375,
                      onComplete() {
                          setTimeout(() => {
                              button.removeAttribute('style')
                              fromTo(button, {
                                  opacity: 0,
                                  y: -8
                              }, {
                                  opacity: 1,
                                  y: 0,
                                  clearProps: true,
                                  duration: .3,
                                  onComplete() {
                                      button.classList.remove('active')
                                  }
                              })
                          }, 2500)
                      }
                  }]
              })
  
              to(button, {
                  keyframes: [{
                      '--text-opacity': 0,
                      '--border-radius': '0px',
                      '--left-wing-background': getVar('--primary-dark'),
                      '--right-wing-background': getVar('--primary-dark'),
                      duration: .1
                  }, {
                      '--left-wing-background': getVar('--primary'),
                      '--right-wing-background': getVar('--primary'),
                      duration: .15
                  }, {
                      '--left-body-background': getVar('--primary-dark'),
                      '--right-body-background': getVar('--primary-darkest'),
                      duration: .25,
                      delay: .1
                  }, {
                      '--trails-stroke': '171px',
                      duration: .22,
                      delay: .22
                  }, {
                      '--success-opacity': 1,
                      '--success-x': '0px',
                      duration: .2,
                      delay: .15
                  }, {
                      '--success-stroke': '0px',
                      duration: .15
                  }]
              })
  
          }
  
      })
  
  })
                </script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/charming.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>
      const toggles = document.querySelectorAll('.faq-toggle');
  
  toggles.forEach(toggle => {
     toggle.addEventListener('click', () => {
        toggle.parentNode.classList.toggle('active');
     });
  });
  
  // SOCIAL PANEL JS
  const floating_btn = document.querySelector('.floating-btn');
  const close_btn = document.querySelector('.close-btn');
  const social_panel_container = document.querySelector('.social-panel-container');
  
  floating_btn.addEventListener('click', () => {
     social_panel_container.classList.toggle('visible')
  });
  
  close_btn.addEventListener('click', () => {
     social_panel_container.classList.remove('visible')
  });
  </script>
</body>
</html>