{% extends "pages/base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock head %}

{% block header %}
<header id="header" class="header wrapper home" style="padding:0 !important;height: 70vh;max-width:100%;margin: 0;padding: 0;">
    
   <div class="header__banner">
	<!-- <div id="citation" >
		<p style="text-align: center;">FaQ!</p>
    <div class="img-int" style="width: 100px;height:190px;margin:auto">
      <img src="{% static 'images/inter.png' %}" alt="" style="width: 100%;height:100%">
    </div>
    
		</div> -->
        <div class="main-contact">
    
            <div class="text-contact">
                <h2 id="citation">Contactez-nous</h2>
            </div>
            <div class="img-contact">
                <img src="{% static 'images/1.jpg' %}" alt="">
            </div>
            
        </div>
    
      
   </div>
   
   
  </header>
{% endblock header %}


{% block content %}


<section class="contact-section">

    <h3>Commençons une conversation</h3>

  
	

		<div class="contact-container">
            <div class="contact-left-side">

                <div class="title-secondary">Contactez-Nous pour savoir plus!</div>
                <div class="wysiwyg">
                    <p>C'est le temps pour nous-contactez vous pouvez:
                    </p>
                    <ul>
                        <li>Commandez des produits de part là </li>
                        <li>Vous pouvez nous questionez pour un post de travaille</li>
                        <li>posez vos questions..</li>
                        
                    </ul>
                </div>
            </div>
            <div class="contact-right-side">

                <div class="wrapper">
                    <h2>Contact</h2>
                    <form method="post">
                      {% csrf_token %}
                      <div class="input-box">
                        <label class="custom-field one">
                            {{form.first_name}}
                         
                          <span class="placeholder">Nom</span>
                        </label>
                      </div>
                      <div class="input-box">
                        <label class="custom-field one">
                          {{form.last_name}}
                         
                          <span class="placeholder">prénom</span>
                        </label>
                      </div>
                      <div class="input-box">
                        <label class="custom-field one">
                            {{form.email}}
                
                          <span class="placeholder">Enter votre email</span>
                        </label>
                        <!-- <input type="text" placeholder="Enter your email" required> -->
                      </div>
                      
                      <div class="input-box">
                        <label class="custom-field one">
                    
                            {{form.subject}}
                          <span class="placeholder">objet</span>
                        </label>
                      </div>
                     
                     
                      <!-- <div class="input-box button"> -->
                        <input type="Submit" class="button button-small anchor" style="margin-bottom: 15px" value="Envoyer">
                        <!-- <a href="/" class="button button-small anchor" style="margin-bottom: 15px">Register Now</a> -->
                      <!-- </div> -->
                     
                    </form>
                  </div>
            </div>
        </div>



</section>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/contact.js' %}"></script>
{% endblock js %}