{% extends "pages/base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock head %}

{% block header %}
<header id="header" class="header wrapper home" style="height: 83vh;max-width:100%;margin: 0;padding: 0;">
   <div class="header__top" style="padding:10px ;height: 80px;">
      <div class="header__top-logo">
         <a class="logo" href="/"><img alt="Belidelice" src="{% static 'images/logobely1.png' %}"></a>
        </div>
      <div class="header__top-nav">
         <nav role="navigation">
            <ul class="desktop-menu only-desktop">
               <li><a class=" js-event-cta" href="/" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="home">Accueil</a></li>
               <li><a class="js-event-cta" href="/produits" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="products">Produits</a></li>
               <li><a class="js-event-cta" href="/contact" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="products">Contactez-Nous</a></li>
               <li><a class="js-event-cta" href="/about" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="recipes">A propos</a></li>
               <li><a class="js-event-cta faqanchor" href="/faq" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="nice to know">FAQ</a></li>
            </ul>
           
           
         </nav>
      </div>
      <div class="header__top-social only-desktop">
       <ul class="social-icons">
        <li><a href="https://www.instagram.com/beliedelice.biscuiterie/"  target="blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://web.facebook.com/Beliedelice/" target="blank"><i class="fab fa-facebook-f"></i></a></li>
          
          
       </ul>
      </div>
   </div>
   <div class="header__banner">
	<!-- <div id="citation" >
		<p style="text-align: center;">FaQ!</p>
    <div class="img-int" style="width: 100px;height:190px;margin:auto">
      <img src="{% static 'images/inter.png' %}" alt="" style="width: 100%;height:100%">
    </div>
    
		</div> -->
        <div class="main-contact">
    
            <div class="text-contact">
                <h2>Contact Us</h2>
            </div>
            <div class="img-contact">
                <img src="{% static 'images/1.jpg' %}" alt="">
            </div>
            
        </div>
    
      
   </div>
   
   
  </header>
{% endblock header %}


{% block content %}


<section class="contact-section">

    <h3>Let's Start a Conversation</h3>

  
	

		<div class="contact-container">
            <div class="contact-left-side">

                <div class="title-secondary">Learn More About Our Leading SaaS Management Platform</div>
                <div class="wysiwyg">
                    <p>It’s time to discover, optimize, and govern your SaaS portfolio. Your journey
                        to smarter and simpler SaaS Management starts here. Book your demo today and see how you can:
                    </p>
                    <ul>
                        <li>Discover all of your SaaS</li>
                        <li>Optimize your SaaS subscriptions and licenses</li>
                        <li>Take control of your renewals</li>
                        <li>Ensure SaaS compliance</li>
                        <li>Empower your employees with the tools they need</li>
                    </ul>
                </div>
            </div>
            <div class="contact-right-side">

                <div class="wrapper">
                    <h2>Contact Us</h2>
                    <form method="post">
                      {% csrf_token %}
                      <div class="input-box">
                        <label class="custom-field one">
                            <input type="text" name="first_name" id="usernameUser" placeholder=" " maxlength="63" required="">
                         
                          <span class="placeholder">First Name</span>
                        </label>
                      </div>
                      <div class="input-box">
                        <label class="custom-field one">
                            <input type="text" name="first_name" id="usernameUser" placeholder=" " maxlength="63" required="">
                         
                          <span class="placeholder">Last Name</span>
                        </label>
                      </div>
                      <div class="input-box">
                        <label class="custom-field one">
                            <input type="text" name="first_name" id="usernameUser" placeholder=" " maxlength="63" required="">
                
                          <span class="placeholder">Enter your email</span>
                        </label>
                        <!-- <input type="text" placeholder="Enter your email" required> -->
                      </div>
                      
                      <div class="input-box">
                        <label class="custom-field one">
                    
                            <input type="text" name="first_name" id="usernameUser" placeholder=" " maxlength="63" required="">
                          <span class="placeholder">Subject</span>
                        </label>
                      </div>
                     
                     
                      <!-- <div class="input-box button"> -->
                        <input type="Submit" class="button button-small anchor" style="margin-bottom: 15px" value="Send">
                        <!-- <a href="/" class="button button-small anchor" style="margin-bottom: 15px">Register Now</a> -->
                      <!-- </div> -->
                     
                    </form>
                  </div>
            </div>
        </div>



</section>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/contact.js' %}"></script>
{% endblock js %}