{% extends "pages/base.html" %}
{% load static %}



{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
<!-- 
<script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeConsoleRunner-d0f3648046d2aaca07bd0037b9e061a26c74a8a999b75672ad6a638cca641472.js"></script>
<script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRefreshCSS-4793b73c6332f7f14a9b6bba5d5e62748e9d1bd0b5c52d7af6376f3d1c625d7e.js"></script>
<script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRuntimeErrors-4f205f2c14e769b448bcf477de2938c681660d5038bc464e3700256713ebe261.js"></script> -->
<link rel="stylesheet" href="{% static 'css/nav.css' %}">  
<style>
   .white-fill{
    width: 100%;
    position: relative;
    /* left: 0;
    bottom:-70px;
    height:230px;  */
    z-index:3;
}
</style>
{% endblock head %}
{% block header %}

<header id="header" class="header wrapper home" style="height:360vh;margin: 0;padding: 0;background:#5161ce;
top: 0;">
     <!-- <div class="header__top" style="padding:0px ;height: 80px;">
      
    <nav class="navbar navbar-expand-custom navbar-mainbg" style="width: 80%;margin: auto;padding-top: 10px;height: 72px;">
         
        
         <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: none;">
            <div class="header__top-logo">
               <a class="logo" href="/"><img alt="Belidelice" src="{% static 'images/logobely1.png' %}"></a>
              </div> 
            <ul class="navbar-nav ml-auto">
                 <div class="hori-selector" style="top: 46.5px; left: 0px; height: 46.5px; width: 622px;"><div class="left"></div><div class="right"></div></div>
                 <li class="nav-item active" >
                     <a class="nav-link" href="javascript:void(0);"><i class="fas fa-home"></i>Acceuil</a>
                 </li>
                 
                 <li class="nav-item">
                     <a class="nav-link" id="sif" href="javascript:void(0);"><i class="fab fa-product-hunt"></i>Produits</a>
                
                  </li>
                 <!-- <li class="nav-item">
                     <a class="nav-link" href="javascript:void(0);"><i class="fas fa-list"></i>Recettes</a>
                 </li> 
                 <li class="nav-item">
                     <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-card"></i>Qui somme Nous?</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="javascript:void(0);"><i class="far fa-question-circle"></i>FaQ</a>
                 </li>
             </ul>
         </div>
     </nav> 
     
   </div>-->

   

  
   
   <!-- <figure class="cookie-small-4 cookie-small" data-content-type="image" data-appearance="full-width" 
   data-element="main" style="border-style: none;right: 155px;">
     <img class="pagebuilder-mobile-hidden"  src="{% static 'images/cookie.png' %}"  alt="" title="" 
   data-element="desktop_image" style="max-width: 100%; height: auto;height: 120px;">
  </figure>
  
  <figure class="cookie-small-4 cookie-small" data-content-type="image" data-appearance="full-width" 
  data-element="main" style="border-style: none;bottom: 350px;
  right: 91%;">
    <img class="pagebuilder-mobile-hidden" src="{% static 'images/face2.png' %}" alt="" title="" 
  data-element="desktop_image" style="max-width: 100%; height: auto;height: 120px;">
 </figure>
 
  <figure class="cookie-small-5 cookie-small" data-content-type="image" data-appearance="full-width" 
   data-element="main" style="border-style: none;">
     <img class="pagebuilder-mobile-hidden" src="{% static 'images/cookie.png' %}" alt="" title="" 
   data-element="desktop_image" style="max-width: 100%; height: auto;height: 120px;">
  </figure>
  <figure class="cookie-small-4 cookie-small" data-content-type="image" data-appearance="full-width" 
   data-element="main" style="border-style: none;bottom: 350px;
   right: 96px;">
     <img class="pagebuilder-mobile-hidden" src="{% static 'images/face2.png' %}" alt="" title="" 
   data-element="desktop_image" style="max-width: 100%; height: auto;height: 120px;">
  </figure> -->
 
   <div class="wrapper">
   
    

      <!-- <div class="juice">
        <img src="{% static 'images/juice.png' %}" alt="">
      </div> -->
      <div class="header__banner">
         
         <div class="top-banner-container">
            <div class="leaves">
               <ul id="scene">
                 <li class="layer" data-depth="-.1">
                   <img src="{% static 'images/cookiehalf2.png' %}" alt="">
                 </li>
                 <li class="layer" data-depth="-.3">
                   <img src="{% static 'images/cookiehalf.png' %}" alt="">
                 </li>
                 <li class="layer" data-depth="-1.5">
                   <img src="{% static 'images/relcookie.png' %}" alt="">
                 </li>
                 <li class="layer" data-depth=".1">
                   <img src="{% static 'images/face.png' %}" alt="">
                 </li>
                 <li class="layer" data-depth=".3">
                   <img src="{% static 'images/face2.png' %}" alt="">
                 </li>
                 <li class="layer" data-depth=".6">
                  <img src="{% static 'images/cookie.png' %}" alt="">
                </li>
               </ul>
             </div>
          
            
            <div class="cont juice">
               <div class="top"><img src="{% static 'images/redtop.png' %}" alt=""></div>
               <div class="btm"><img src="{% static 'images/yellow.png' %}" alt=""></div>
               <div class="random">
                   <div class="gtt" data-id="1">
                       <img src="{% static 'images/relcookie.png' %}" alt="">
                   </div>
                   <div class="gtt" data-id="2">
                     <img src="{% static 'images/relcookie.png' %}" alt="">
                 </div>
                 <div class="gtt" data-id="3">
                  <img src="{% static 'images/relcookie.png' %}" alt="">
              </div>
              <div class="gtt" data-id="4">
               <img src="{% static 'images/relcookie.png' %}" alt="">
           </div>
                 <div class="gtt" data-id="5"> 
                  <img src="{% static 'images/relcookie.png' %}" alt="">
              </div>
              <div class="gtt" data-id="6">
               <img src="{% static 'images/relcookie.png' %}" alt="">
           </div>
                   <div class="gtt" data-id="7">
                     <img src="{% static 'images/relcookie.png' %}" alt="">
                 </div>
                 <div class="gtt" data-id="8">
                  <img src="{% static 'images/relcookie.png' %}" alt="">
              </div>
              <div class="gtt" data-id="9">
               <img src="{% static 'images/relcookie.png' %}" alt="">
           </div>
                   <div class="gtt" data-id="10">
                     <img src="{% static 'images/relcookie.png' %}" alt="">
                 </div>
                  <div class="gtt" data-id="11">
                       <img src="{% static 'images/relcookie.png' %}" alt="">
                  </div>
                  <div class="gtt" data-id="12">
                     <img src="{% static 'images/relcookie.png' %}" alt="">
                  </div>
                   <div class="gtt" data-id="13">
                       <img src="{% static 'images/cookie.png' %}" alt="">
                   </div>
                   <div class="gtt" data-id="14">
                       <img src="{% static 'images/relcookie.png' %}" alt="">
                   </div>
                   <div class="gtt" data-id="15">
                       <img src="{% static 'images/cookie.png' %}" alt="">
                   </div>
                   
               </div>
           </div>
         
         </div>
      </div> 
  
     
  
     
  
  
    </div>
    
     <div class="white-fill" style="top: calc(360vh - 230px);">
      <img alt="" src="/static/images/twist-fill.png" height="100%">
      <div class="header__arrow-down" style="bottom: 30px;"> 
         <a href="#home">
            <img src="{% static 'images/arrow-down.png' %}" alt="arrow-down" width="62" height="62">
         </a>
         </div>
   </div>
  </header>
{% endblock header %}

{% block content %}
  
<div >
   
  
   
   <div class="wrapper home" id="pageSelector">
            
      <div class="row">
         <div class="col-lg-12 hero-text mobile-hero-text" style="position: static; z-index: 9;">
            <h1 class="hovercursor" style="text-align: center;">Découvrez le monde merveilleux de Beliedelice </h1>
         </div>
      </div>
      <div class="row js-Belidelice-product">
         <div class="col-lg-12">
            <div class="grid" style="position: relative; min-height: 514.117px;display: block">
               <div class="grid-sizer"></div>
               <div class="grid-gutter"></div>
               <div class="grid-item grid-item--default   grid-item--blueNavy hovercursor" style="float:left; left: 0%; top: 0px;">
                  <div class="grid-order">8</div>
                  <img style="width: 100%; height:100%" alt="Belidelice product" class="responsive hovercursor" src="{% static 'images/tobssycookies.jpg' %}">
               </div>
               <div class="grid-item yellowprod hovercursor grid-item--default  grid-item-height-2 grid-item--pink grid-item--product" style="float:left; left: 25.1647%; top: 0px;">
                  <div class="grid-order">9</div>
                  <a href="/produits#Belidelice-crispy-en-thin-vanille-192g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="Belidelice-crispy-en-thin-vanille-192g">
                     <img style="animation-delay: .5s;" alt="Belidelice product" class="responsive animateproduct height100" src="{% static 'images/product4.png' %}">
                  </a>
               </div>
               <div class="grid-item hovercursor grid-item--default  grid-item-height-2 grid-item--blue grid-item--product" style="float:left; left: 50.4193%; top: 0px;">
                  <div class="grid-order">10</div>
                  <a href="/produits#Belidelice-double-creme-157g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="Belidelice-double-creme-157g">
                     <img alt="Belidelice product" class="responsive animateproduct height100" src="{% static 'images/product3.png' %}">
                  </a>
               </div>
               <div class="grid-item hovercursor hovercursor grid-item--default  cadre grid-item--blueNavy" style="float:left; left: 75.6738%; top: 0px;">
                  <div class="grid-order">11</div>
                  <img style="width: 100%; height:100%" alt="Belidelice biscuit" class="responsive hovercursor" src="{% static 'images/cookiescadre.jpg' %}">
               </div>
               <div class="grid-item hovercursor grid-item--default  grid-item-height-2 grid-item--blueNavy grid-item--product" style="float:right;margin-right: 33px; left: 0%; top: 175px;">
                  <div class="grid-order">12</div>
                  <a href="/produits#Belidelice-original-format-familial-308g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="Belidelice-original-format-familial-308g">
                     <img alt="Belidelice product" class="responsive animateproduct" style="animation-delay: 3s;" src="{% static 'images/product6.png' %}">
                  </a>
               </div>
               <div class="grid-item decouvrezpro hovercursor grid-text grid-text-link  grid-item-height-2 grid-item--blue" 
               style="float:left;   top: -175px;padding-top: 110px;position: relative;">
                  <div class="grid-order">13</div>
                  <a href="/produits" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Discover All Products" data-label="Belidelice Products - HP">
                     <span >Découvrez tous<br> nos produits</span>
                     <img class="arrowlong" alt="arrowlong" src="{% static 'images/arrow-right.png' %}">
                  </a>
               </div>
               <div class="grid-item hovercursor grid-text   grid-item--green grid-padding-for-text-3lines" style="float:right; left: 25.1647%; top: 350px;">
                  <div class="grid-order">14</div>
                  <span >Découvrez toutes les saveurs BELIEDELICE </span>
               </div>
               
            
               <div class="grid-item hovercursor grid-item--default handgat  grid-item--blueNavy " style="float:right; left: 50.4193%; top: 350px;">
                  <div class="grid-order">15</div>
                  <img style="width:100%" alt="Belidelice product" class="responsive hovercursor" src="{% static 'images/image16.png' %}">
               </div>
            </div>
         </div>
      </div>
      
      
   </div>
  <!--  -->
   <div class="animateddiv">

         <div class="circleanime">
            <div class="beliedelicelogo">
               <img src="{% static 'images/logobely1.png' %}" alt="">
            </div>
               <div class="circleanimechild">
                  <div class="cursive">
                     <h3>Why not try out our</h3>
                     <h1>mix pack</h1>
                  </div>
               </div>
         </div>
      
      <div class="animatedimages">
         <div class="imganime">
            <img src="{% static 'images/beli.png' %}" alt="">
         </div>
         <div class="imganime">
            <img src="{% static 'images/beli.png' %}" alt="">
         </div>
         <div class="imganime">
            <img src="{% static 'images/beli.png' %}" alt="">
         </div>
         <div class="imganime">
            <img src="{% static 'images/beli.png' %}" alt="">
         </div>
         <div class="imganime">
            <img src="{% static 'images/beli.png' %}" alt="">
         </div>
      </div>

      <div class="bottomopcaityeffect">
         <img src="{% static 'images/choco1.png' %}" alt="">
      </div>


      <div class="splashanime">
         <div class="splashimg">
            <img src="{%  static 'images/coffee.png' %}" alt="">
         </div>
      </div>
   </div>
   <!--  -->
   <div class="wrapper home" id="pageSelector">
      
      <div class="row">
         <div class="col-lg-12 hero-text mobile-hero-text">
            <h1 class="hovercursor" style="text-align: center;">Nos délicieux produits</h1>
           
         </div>
      </div>
      <div class="row js-Belidelice-product">
         <div class="col-lg-12">
            <div class="grid" style="position: relative; min-height: 514.117px;display: block;">
               <div class="grid-sizer"></div>
               <div class="grid-gutter"></div>
               <div class="grid-item grid-item--default   grid-item--blueNavy " style="float:left; left: 0%; top: 0px;">
                  <div class="grid-order">8</div>
                  <img alt="Belidelice product" class="responsive hovercursor" src="{% static 'images/beli.png' git %}">
               </div>
               <div class="grid-item grid-item--default yellowprod imgnot grid-item-height-2 grid-item--pink grid-item--product" style="float:left; left: 25.1647%; top: 0px;">
                  <div class="grid-order">9</div>
                  <a href="/produits#Belidelice-crispy-en-thin-vanille-192g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="Belidelice-crispy-en-thin-vanille-192g">
                     <img alt="Belidelice product" class="responsive animateproduct" style="width: 130px;" src="{% static 'images/product5.png' %}">
                  </a>
               </div>
               <div class="grid-item grid-item--default  grid-item-height-2 grid-item--blue grid-item--product" style="float:left; left: 50.4193%; top: 0px;">
                  <div class="grid-order">10</div>
                  <a href="/produits#Belidelice-double-creme-157g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="Belidelice-double-creme-157g">
                     <img style="height: 187px;" alt="Belidelice product" class="responsive animateproduct" src="{% static 'images/fatcha.png' %}">
                  </a>
               </div>
               <div class="grid-item grid-item--default cadre  grid-item--blueNavy" style="float:right;margin-right: 33px; left: 75.6738%; top: 0px;">
                  <div class="grid-order">11</div>
                  <img alt="Belidelice biscuit" class="responsive hovercursor" src="{% static 'images/1.jpg' %}">
               </div>
               <div class="grid-item grid-item--default  grid-item-height-2 grid-item--blueNavy grid-item--product" style="float:right;margin-right: 33px; left: 0%; top: 175px;">
                  <div class="grid-order">12</div>
                  <a href="/produits#Belidelice-original-format-familial-308g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="Belidelice-original-format-familial-308g">
                     <img alt="Belidelice product" class="responsive animateproduct" src="{% static 'images/cookies.png' %}">
                  </a>
               </div>
               <div class="grid-item decouvrezpro grid-text grid-text-link  grid-item-height-2 grid-item--blue" style="float: left;
                  top: 164px; padding-top: 110px;   position: relative;">
                  <div class="grid-order">13</div>
                  <a href="/produits" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Discover All Products" data-label="Belidelice Products - HP">
                     <span >Découvrez tous<br> nos produits</span>
                     <img class="arrowlong"  alt="arrowlong" src="{% static 'images/arrow-right.png' %}">
                  </a>
               </div>
               <div class="grid-item grid-text   grid-item--green grid-padding-for-text-3lines" style="float:right; left: 25.1647%; top: 350px;">
                  <div class="grid-order">14</div>
                  <span >Découvrez toutes les saveurs Beliedelice</span>
               </div>
               
            
               <div class="grid-item grid-item--default handgat grid-item--blueNavy " style="float:right; left: 50.4193%; top: 350px;">
                  <div class="grid-order">15</div>
                  <img style="width:100%;height: 100%;" alt="Belidelice product" class="responsive hovercursor" src="{% static 'images/2.jpg' %}">
               </div>
            </div>
         </div>
      </div>
      
      
   </div>  
  
</div>
 

{% endblock content %}


{% block js %}

   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="{% static 'js/page.js' %}"></script>
   <script src="{% static 'js/tweenanime.js' %}"></script>
{% endblock js %}