{% extends "pages/base.html" %}
{% load static %}


{% block header %}
<header id="header" class="header wrapper home" style="margin: 0;padding: 0;background:#0058c9;">
   <div class="header__top" style="padding:10px ; background: #FFF;height: 80px;">
      <div class="header__top-logo">
         <a class="logo" href="/"><img alt="OREO" src="{% static 'images/logobely1.png' %}"></a>
        </div>
      <div class="header__top-nav">
         <nav role="navigation">
            <ul class="desktop-menu only-desktop">
               <li><a class="active js-event-cta" href="/" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="home">Accueil</a></li>
               <li><a class="js-event-cta" href="/produits" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="products">Produits</a></li>
               <li><a class="js-event-cta" href="/about" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="recipes">About</a></li>
               <li><a class="js-event-cta" href="/faq" data-event="info-click" data-category="Informational  Action" data-action="Header Navigation" data-label="nice to know">FAQ</a></li>
            </ul>
           
           
         </nav>
      </div>
      <div class="header__top-social only-desktop">
       <ul class="social-icons">
           <li><a href="#"><i class="fab fa-instagram"></i></a></li>
           <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          
          
       </ul>
      </div>
   </div>
   <div class="header__banner">
      <div class="top-banner-container">
    
         <!-- <div class="swiper-wrapper">
           
            <div class="swiper-slide"><img  src="{% static 'images/oreofr.png' %}" alt="watermark" width="421" height="421"></div>
         </div> -->
         <div class="splited-bely">
           
            <!-- <div class="left-bely">
               <img src="{% static 'images/leftoreo.png' %}" alt="">
            </div>
            <div class="right-bely" style="right:22px">
               <img src="{% static 'images/rightoreo.png' %}" alt="">
            </div> -->
            <div class="left-bely">
              <img src="{% static 'images/bely 22222.png' %}" alt="">
           </div>
           <div class="right-bely">
              <img src="{% static 'images/bely1.png' %}" alt="">
           </div>
         </div>
        
         <!--<div class="swiper-button-prev"></div>-->
         <!--<div class="swiper-button-next"></div>-->
      </div>
   </div>
   <div class="header__arrow-down">
     <a href="#home">
        <img src="{% static 'images/arrow-down.png' %}" alt="arrow-down" width="62" height="62">
     </a>
     </div>
   <figure class="cookie-small-4 cookie-small" data-content-type="image" data-appearance="full-width" 
   data-element="main" style="border-style: none;">
     <img class="pagebuilder-mobile-hidden" src="{% static 'images/face2.png' %}" alt="" title="" 
   data-element="desktop_image" style="max-width: 100%; height: auto;height: 120px;">
  </figure>
  <figure class="cookie-small-4 cookie-small" data-content-type="image" data-appearance="full-width" 
   data-element="main" style="border-style: none;bottom: 350px;
   right: 96px;">
     <img class="pagebuilder-mobile-hidden" src="{% static 'images/face2.png' %}" alt="" title="" 
   data-element="desktop_image" style="max-width: 100%; height: auto;height: 120px;">
  </figure>
  <figure class="cookie-small-5 cookie-small" data-content-type="image" data-appearance="full-width" 
   data-element="main" style="border-style: none;">
     <img class="pagebuilder-mobile-hidden" src="{% static 'images/face.png' %}" alt="" title="" 
   data-element="desktop_image" style="max-width: 100%; height: auto;height: 120px;">
  </figure>
  <script>
     setInterval(() => {
        document.querySelectorAll(".cookie-small")[0].style.animation="cookiesmove 6s linear infinite";
        setTimeout(() => {
        document.querySelectorAll(".cookie-small")[0].style.animation="cookies 6s linear infinite"
     }, 6000);
     // 
     document.querySelectorAll(".cookie-small")[1].style.animation="cookiesmove 6s linear infinite";
        setTimeout(() => {
        document.querySelectorAll(".cookie-small")[1].style.animation="cookies 6s linear infinite"
     }, 6000);
     // 
     document.querySelectorAll(".cookie-small")[2].style.animation="cookiesmove 6s linear infinite";
        setTimeout(() => {
        document.querySelectorAll(".cookie-small")[2].style.animation="cookies 6s linear infinite"
     }, 6000);
     }, 6000);
  </script>
   <div class="white-fill">
     <img src="{% static 'images/twist-fill.png' %}" alt="">
  </div>
  </header>
{% endblock header %}

{% block content %}
  
<div class="wrapper home" id="pageSelector">
            
    <div class="row">
       <div class="col-lg-12 hero-text mobile-hero-text">
          <h1 class="hovercursor" style="text-align: center;">Découvrez le monde merveilleux de Beliedelice </h1>
       </div>
    </div>
    <div class="row js-oreo-product">
       <div class="col-lg-12">
          <div class="grid" style="position: relative; height: 514.117px;">
             <div class="grid-sizer"></div>
             <div class="grid-gutter"></div>
             <div class="grid-item grid-item--default   grid-item--blueNavy hovercursor" style="position: absolute; left: 0%; top: 0px;">
                <div class="grid-order">8</div>
                <img alt="oreo product" class="responsive hovercursor" src="{% static 'images/img222.jpg' %}">
             </div>
             <div class="grid-item hovercursor grid-item--default  grid-item-height-2 grid-item--pink grid-item--product" style="position: absolute; left: 25.1647%; top: 0px;">
                <div class="grid-order">9</div>
                <a href="/produits#oreo-crispy-en-thin-vanille-192g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-crispy-en-thin-vanille-192g">
                   <img style="animation-delay: .5s;" alt="oreo product" class="responsive animateproduct" src="{% static 'images/product4.png' %}">
                </a>
             </div>
             <div class="grid-item hovercursor grid-item--default  grid-item-height-2 grid-item--blue grid-item--product" style="position: absolute; left: 50.4193%; top: 0px;">
                <div class="grid-order">10</div>
                <a href="/produits#oreo-double-creme-157g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-double-creme-157g">
                   <img alt="oreo product" class="responsive animateproduct " src="{% static 'images/product3.png' %}">
                </a>
             </div>
             <div class="grid-item hovercursor hovercursor grid-item--default   grid-item--blueNavy" style="position: absolute; left: 75.6738%; top: 0px;">
                <div class="grid-order">11</div>
                <img alt="oreo biscuit" class="responsive hovercursor" src="{% static 'images/img1.jpg' %}">
             </div>
             <div class="grid-item hovercursor grid-item--default  grid-item-height-2 grid-item--blueNavy grid-item--product" style="position: absolute; left: 0%; top: 175px;">
                <div class="grid-order">12</div>
                <a href="/produits#oreo-original-format-familial-308g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-original-format-familial-308g">
                   <img alt="oreo product" class="responsive animateproduct" style="animation-delay: 3s;" src="{% static 'images/product3.png' %}">
                </a>
             </div>
             <div class="grid-item hovercursor grid-text grid-text-link  grid-item-height-2 grid-item--blue" style="position: absolute; left: 75.6738%; top: 175px;padding-top: 110px;">
                <div class="grid-order">13</div>
                <a href="/produits" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Discover All Products" data-label="Oreo Products - HP">
                   <span >Découvrez tous<br> nos produits</span>
                   <img class="arrowlong" alt="arrowlong" src="https://fr.oreo.eu/~/media/oreo/fr2018/images/common/arrowlong.png">
                </a>
             </div>
             <div class="grid-item hovercursor grid-text   grid-item--green grid-padding-for-text-3lines" style="position: absolute; left: 25.1647%; top: 350px;">
                <div class="grid-order">14</div>
                <span >Découvrez toutes les saveurs BELIEDELICE </span>
             </div>
             
          
             <div class="grid-item hovercursor grid-item--default   grid-item--blueNavy " style="position: absolute; left: 50.4193%; top: 350px;">
                <div class="grid-order">15</div>
                <img alt="oreo product" class="responsive hovercursor" src="{% static 'images/img221.jpg' %}">
             </div>
          </div>
       </div>
    </div>
    
    
 </div>

 <!--  -->
 <div class="wrapper home" id="pageSelector">
    
    <div class="row">
       <div class="col-lg-12 hero-text mobile-hero-text">
          <h1 class="hovercursor" style="text-align: center;">Découvrez le monde merveilleux de Beliedelice </h1>
         
       </div>
    </div>
    <div class="row js-oreo-product">
       <div class="col-lg-12">
          <div class="grid" style="position: relative; height: 514.117px;">
             <div class="grid-sizer"></div>
             <div class="grid-gutter"></div>
             <div class="grid-item grid-item--default   grid-item--blueNavy " style="position: absolute; left: 0%; top: 0px;">
                <div class="grid-order">8</div>
                <img alt="oreo product" class="responsive hovercursor" src="{% static 'images/img221.jpg' %}">
             </div>
             <div class="grid-item grid-item--default  grid-item-height-2 grid-item--pink grid-item--product" style="position: absolute; left: 25.1647%; top: 0px;">
                <div class="grid-order">9</div>
                <a href="/produits#oreo-crispy-en-thin-vanille-192g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-crispy-en-thin-vanille-192g">
                   <img alt="oreo product" class="responsive animateproduct" style="width: 130px;" src="{% static 'images/product5.png' %}">
                </a>
             </div>
             <div class="grid-item grid-item--default  grid-item-height-2 grid-item--blue grid-item--product" style="position: absolute; left: 50.4193%; top: 0px;">
                <div class="grid-order">10</div>
                <a href="/produits#oreo-double-creme-157g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-double-creme-157g">
                   <img alt="oreo product" class="responsive animateproduct" src="{% static 'images/product6.png' %}">
                </a>
             </div>
             <div class="grid-item grid-item--default   grid-item--blueNavy" style="position: absolute; left: 75.6738%; top: 0px;">
                <div class="grid-order">11</div>
                <img alt="oreo biscuit" class="responsive hovercursor" src="{% static 'images/1.jpg' %}">
             </div>
             <div class="grid-item grid-item--default  grid-item-height-2 grid-item--blueNavy grid-item--product" style="position: absolute; left: 0%; top: 175px;">
                <div class="grid-order">12</div>
                <a href="/produits#oreo-original-format-familial-308g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-original-format-familial-308g">
                   <img alt="oreo product" class="responsive animateproduct" src="{% static 'images/product2.png' %}">
                </a>
             </div>
             <div class="grid-item grid-text grid-text-link  grid-item-height-2 grid-item--blue" style="position: absolute; left: 75.6738%; top: 175px;padding-top: 110px;">
                <div class="grid-order">13</div>
                <a href="/produits" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Discover All Products" data-label="Oreo Products - HP">
                   <span >Découvrez tous<br> nos produits</span>
                   <img class="arrowlong"  alt="arrowlong" src="https://fr.oreo.eu/~/media/oreo/fr2018/images/common/arrowlong.png">
                </a>
             </div>
             <div class="grid-item grid-text   grid-item--green grid-padding-for-text-3lines" style="position: absolute; left: 25.1647%; top: 350px;">
                <div class="grid-order">14</div>
                <span >Découvrez toutes les saveurs Beliedelice</span>
             </div>
             
          
             <div class="grid-item grid-item--default   grid-item--blueNavy " style="position: absolute; left: 50.4193%; top: 350px;">
                <div class="grid-order">15</div>
                <img alt="oreo product" class="responsive hovercursor" src="{% static 'images/2.jpg' %}">
             </div>
          </div>
       </div>
    </div>
    
    
 </div>  

 

{% endblock content %}