{% extends "pages/base.html" %}
{% load static %}


{% block content %}
  
<div class="wrapper home" id="pageSelector">
            
    <div class="row">
       <div class="col-lg-12 hero-text mobile-hero-text">
          <h1 class="hovercursor" style="text-align: center;">Découvrez le monde merveilleux de Beliedelice </h1>
       </div>
    </div>
    <div class="row js-oreo-product">
       <div class="col-lg-12">
          <div class="grid" style="position: relative; height: 514.117px;">
             <div class="grid-sizer"></div>
             <div class="grid-gutter"></div>
             <div class="grid-item grid-item--default   grid-item--blueNavy hovercursor" style="position: absolute; left: 0%; top: 0px;">
                <div class="grid-order">8</div>
                <img alt="oreo product" class="responsive hovercursor" src="{% static 'images/fichier ai beli delice/img222.jpg' %}">
             </div>
             <div class="grid-item hovercursor grid-item--default  grid-item-height-2 grid-item--pink grid-item--product" style="position: absolute; left: 25.1647%; top: 0px;">
                <div class="grid-order">9</div>
                <a href="/produits#oreo-crispy-en-thin-vanille-192g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-crispy-en-thin-vanille-192g">
                   <img style="animation-delay: .5s;" alt="oreo product" class="responsive animateproduct" src="{% static 'images/fichier ai beli delice/product4.png' %}">
                </a>
             </div>
             <div class="grid-item hovercursor grid-item--default  grid-item-height-2 grid-item--blue grid-item--product" style="position: absolute; left: 50.4193%; top: 0px;">
                <div class="grid-order">10</div>
                <a href="/produits#oreo-double-creme-157g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-double-creme-157g">
                   <img alt="oreo product" class="responsive animateproduct " src="{% static 'images/fichier ai beli delice/product3.png' %}">
                </a>
             </div>
             <div class="grid-item hovercursor hovercursor grid-item--default   grid-item--blueNavy" style="position: absolute; left: 75.6738%; top: 0px;">
                <div class="grid-order">11</div>
                <img alt="oreo biscuit" class="responsive hovercursor" src="{% static 'images/fichier ai beli delice/img1.jpg' %}">
             </div>
             <div class="grid-item hovercursor grid-item--default  grid-item-height-2 grid-item--blueNavy grid-item--product" style="position: absolute; left: 0%; top: 175px;">
                <div class="grid-order">12</div>
                <a href="/produits#oreo-original-format-familial-308g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-original-format-familial-308g">
                   <img alt="oreo product" class="responsive animateproduct" style="animation-delay: 3s;" src="{% static 'images/fichier ai beli delice/product3.png' %}">
                </a>
             </div>
             <div class="grid-item hovercursor grid-text grid-text-link  grid-item-height-2 grid-item--blue" style="position: absolute; left: 75.6738%; top: 175px;padding-top: 110px;">
                <div class="grid-order">13</div>
                <a href="/produits" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Discover All Products" data-label="Oreo Products - HP">
                   <span >Découvrez tous<br> nos produits</span>
                   <img class="arrowlong" alt="arrowlong" src="https://fr.oreo.eu/~/media/oreo/fr2018/images/common/arrowlong.png">
                </a>
             </div>
             <div class="grid-item hovercursor grid-text   grid-item--green grid-padding-for-text-3lines" style="position: absolute; left: 25.1647%; top: 350px;">
                <div class="grid-order">14</div>
                <span >Découvrez toutes les saveurs BELIEDELICE </span>
             </div>
             
          
             <div class="grid-item hovercursor grid-item--default   grid-item--blueNavy " style="position: absolute; left: 50.4193%; top: 350px;">
                <div class="grid-order">15</div>
                <img alt="oreo product" class="responsive hovercursor" src="{% static 'images/fichier ai beli delice/img221.jpg' %}">
             </div>
          </div>
       </div>
    </div>
    
    
 </div>

 <!--  -->
 <div class="wrapper home" id="pageSelector">
    
    <div class="row">
       <div class="col-lg-12 hero-text mobile-hero-text">
          <h1 class="hovercursor" style="text-align: center;">Découvrez le monde merveilleux de Beliedelice </h1>
         
       </div>
    </div>
    <div class="row js-oreo-product">
       <div class="col-lg-12">
          <div class="grid" style="position: relative; height: 514.117px;">
             <div class="grid-sizer"></div>
             <div class="grid-gutter"></div>
             <div class="grid-item grid-item--default   grid-item--blueNavy " style="position: absolute; left: 0%; top: 0px;">
                <div class="grid-order">8</div>
                <img alt="oreo product" class="responsive hovercursor" src="{% static 'images/fichier ai beli delice/img221.jpg' %}">
             </div>
             <div class="grid-item grid-item--default  grid-item-height-2 grid-item--pink grid-item--product" style="position: absolute; left: 25.1647%; top: 0px;">
                <div class="grid-order">9</div>
                <a href="/produits#oreo-crispy-en-thin-vanille-192g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-crispy-en-thin-vanille-192g">
                   <img alt="oreo product" class="responsive animateproduct" style="width: 130px;" src="{% static 'images/fichier ai beli delice/product5.png' %}">
                </a>
             </div>
             <div class="grid-item grid-item--default  grid-item-height-2 grid-item--blue grid-item--product" style="position: absolute; left: 50.4193%; top: 0px;">
                <div class="grid-order">10</div>
                <a href="/produits#oreo-double-creme-157g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-double-creme-157g">
                   <img alt="oreo product" class="responsive animateproduct" src="{% static 'images/fichier ai beli delice/product6.png' %}">
                </a>
             </div>
             <div class="grid-item grid-item--default   grid-item--blueNavy" style="position: absolute; left: 75.6738%; top: 0px;">
                <div class="grid-order">11</div>
                <img alt="oreo biscuit" class="responsive hovercursor" src="{% static 'images/fichier ai beli delice/1.jpg' %}">
             </div>
             <div class="grid-item grid-item--default  grid-item-height-2 grid-item--blueNavy grid-item--product" style="position: absolute; left: 0%; top: 175px;">
                <div class="grid-order">12</div>
                <a href="/produits#oreo-original-format-familial-308g" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Products" data-label="oreo-original-format-familial-308g">
                   <img alt="oreo product" class="responsive animateproduct" src="{% static 'images/fichier ai beli delice/product2.png' %}">
                </a>
             </div>
             <div class="grid-item grid-text grid-text-link  grid-item-height-2 grid-item--blue" style="position: absolute; left: 75.6738%; top: 175px;padding-top: 110px;">
                <div class="grid-order">13</div>
                <a href="/produits" class="js-event-cta" data-event="info-click" data-category="Informational  Action" data-action="Discover All Products" data-label="Oreo Products - HP">
                   <span >Découvrez tous<br> nos produits</span>
                   <img class="arrowlong"  alt="arrowlong" src="https://fr.oreo.eu/~/media/oreo/fr2018/images/common/arrowlong.png">
                </a>
             </div>
             <div class="grid-item grid-text   grid-item--green grid-padding-for-text-3lines" style="position: absolute; left: 25.1647%; top: 350px;">
                <div class="grid-order">14</div>
                <span >Découvrez toutes les saveurs OREO</span>
             </div>
             
          
             <div class="grid-item grid-item--default   grid-item--blueNavy " style="position: absolute; left: 50.4193%; top: 350px;">
                <div class="grid-order">15</div>
                <img alt="oreo product" class="responsive hovercursor" src="{% static 'images/fichier ai beli delice/2.jpg' %}">
             </div>
          </div>
       </div>
    </div>
    
    
 </div>  

 

{% endblock content %}