{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page</title>
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
</head>
<body>

    <div class="head">
        <div class="cont">

            <div id="watch">
                <div class="frame-face"></div>
                <ul class="minute-marks">
                  <li></li><li></li><li></li><li></li><li></li><li></li>
                  <li></li><li></li><li></li><li></li><li></li><li></li>
                  <li></li><li></li><li></li><li></li><li></li><li></li>
                  <li></li><li></li><li></li><li></li><li></li><li></li>
                  <li></li><li></li><li></li><li></li><li></li><li></li>
                  <li></li><li></li><li></li><li></li><li></li><li></li>
                  <li></li><li></li><li></li><li></li><li></li><li></li>
                  <li></li><li></li><li></li><li></li><li></li><li></li>
                </ul>
                
                <ul class="digits">
                  <li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li>
                  <li>7</li><li>8</li><li>9</li><li>10</li><li>11</li><li>12</li>
                </ul>
                <div class="hours-hand"></div>
                <div class="minutes-hand"></div>
                <div class="seconds-hand"></div>
              </div>

              <div class="images">
                  <div class="img1 imgclockcont">
                      <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
                  </div>
                  <div class="img2 imgclockcont">
                    <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
                </div>
                <div class="img3 imgclockcont">
                    <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
                </div>
                <div class="img4 imgclockcont">
                    <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
                </div>
                <div class="img5 imgclockcont">
                    <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
                </div>
                <div class="img6 imgclockcont">
                    <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
                </div>
                <div class="img7 imgclockcont">
                    <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
                </div>
                <div class="img8 imgclockcont">
                    <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
                </div>
                <div class="img9 imgclockcont">
                  <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
              </div>
              <div class="img10 imgclockcont">
                  <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
              </div>
              <div class="img11 imgclockcont">
                  <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
              </div>
              <div class="img12 imgclockcont">
                  <img class="clockimg" src="{% static 'images/product5.png' %}" alt="">
              </div>
              </div>
            <!-- <div class="clock">
                <img src="{% static 'images/clock.png' %}" alt="">
            </div>
            <div class="heads">
                <div class="topchrono">
                    <img src="{% static 'images/topchrono.png' %}" alt="">
                </div>
                <div class="sidechrono">
                    <img src="{% static 'images/sidechrono.png' %}" alt="">
                </div>
            </div> -->
            <!-- <div class="top"><img src="{% static 'images/toptop.png' %}" alt=""></div>
            <div class="btm"><img src="{% static 'images/btmbtm.png' %}" alt=""></div>
            <div class="random">
                <div class="gtt">
                    <img src="{% static 'images/cookie.png' %}" alt="">
                </div>
                <div class="gtt">
                    <img src="{% static 'images/cookie.png' %}" alt="">
                </div>
                <div class="gtt">
                    <img src="{% static 'images/cookie.png' %}" alt="">
                </div>
                <div class="gtt">
                    <img src="{% static 'images/cookie.png' %}" alt="">
                </div>
                
            </div> -->
        </div>
    </div>
        
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/page.js' %}"></script>
</body>
</html>