{% extends "pages/base.html" %}
{% load static %}



{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    
    <link rel="stylesheet" href="{% static 'css/showpro.css' %}">
  <link rel="stylesheet" href="{% static 'css/products.css' %}">
  <link rel="stylesheet" href="{% static 'css/ecom.css' %}">
  <style>
    .animatedpaperpart1{
      background-image: url("{% static 'images/paper1.webp' %}") ;
      background-repeat: no-repeat;
    }
  </style>
{% endblock head %}


{% block header %}
<header id="header" class="header wrapper home" style="margin: 0;padding: 0;">

  <div class="header__banner">
     <div class="top-banner-container">
      <!-- <i class="fas fa-chevron-left"></i>
      <i class="fas fa-chevron-right"></i> -->

<!-- <div id="citation" >
  <p style="text-align: center;">Produits!</p>
  </div> -->
    
  <div class="container">
    
  <div class="mySwiper swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events">
      <div class="main-wrapper swiper-wrapper" style="transition-duration: 0ms;" id="swiper-wrapper-8f29632627322811" aria-live="polite"><div class="main swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" id="coral" data-swiper-slide-index="3" style="width: 1023px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="4 / 5">
              <div class="left-side">
                  <div class="main-wrapper">
                      <h3 class="main-header">Beliedelice</h3>
                      <h1 class="main-title">Hiba Sables</h1>
                      <h2 class="main-subtitle">0.00 DA</h2>
                  </div>
                  <div class="main-content">
                     
                      <!-- <div class="main-content__subtitle">Coral reefs are essential to humans, as they protect the shorelines and are a source of -->
                          <!-- nutrients and habitat for thousands of marine species.</div> -->
                      <!-- <div class="more-menu">
                          Shop Now
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <line x1="-5" y1="12" x2="19" y2="12"></line>
                              <line x1="15" y1="16" x2="19" y2="12"></line>
                              <line x1="15" y1="8" x2="19" y2="12"></line>
                          </svg>
                      </div> -->
                  </div>
              </div>
              <div class="center">
                  <div class="right-side__img">
                      <img class="bottle-bg" src="https://images.unsplash.com/photo-1546500840-ae38253aba9b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=3260&amp;q=80" alt="">
                      <img class="bottle-img" src="{%  static 'images/fatcha.webp'  %}">
                  </div>
              </div>
          </div>
          <div class="main swiper-slide swiper-slide-duplicate-active" id="beach" data-swiper-slide-index="0" style="width: 1023px; opacity: 1; transform: translate3d(-1023px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="1 / 5">
              <div class="left-side">
                  <div class="main-wrapper">
                      <h3 class="main-header">Beliedelice</h3>
                      <h1 class="main-title">Mini Hiba Sables</h1>
                      <h2 class="main-subtitle">0.00 DA</h2>
                  </div>
                  <div class="main-content">
                     
                  </div>
              </div>
              <div class="center">
                  <div class="right-side__img">
                      <img class="bottle-bg" src="https://cdn.shopify.com/s/files/1/0689/1443/t/34/assets/Beach_1920.jpg?v=1029210661698833530" alt="">
                      <img class="bottle-img" src="{% static 'images/gateau ,2 png.webp' %}">
                  </div>
              </div>
          </div>
          <div class="main swiper-slide" id="savanna" data-swiper-slide-index="1" style="width: 1023px; opacity: 1; transform: translate3d(-2046px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="2 / 5">
              <div class="left-side">
                  <div class="main-wrapper">
                      <h3 class="main-header">Beliedelice</h3>
                      <h1 class="main-title">Fatcha</h1>
                      <h2 class="main-subtitle">0.00 DA</h2>
                  </div>
                  <div class="main-content">
                      
                      <!-- <div class="main-content__subtitle">The Savannas act as a carbon sink, absorbing CO2 from the atmosphere and helping to maintain the balance of global temperatures.</div> -->
                    
                  </div>
              </div>
              <div class="center">
                  <div class="right-side__img">
                      <img class="bottle-bg" src="https://images.unsplash.com/photo-1613109526778-27605f1f27d2?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2340&amp;q=80" alt="">
                      <img class="bottle-img" src="{% static 'images/fatcha.webp' %}"">
                  </div>
              </div>
          </div>
          <div class="main swiper-slide" id="glacier" data-swiper-slide-index="2" style="width: 1023px; opacity: 1; transform: translate3d(-3069px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="3 / 5">
              <div class="left-side">
                  <div class="main-wrapper">
                      <h3 class="main-header">Beliedelice</h3>
                      <h1 class="main-title">Cookies sac</h1>
                      <h2 class="main-subtitle">0.00 DA</h2>
                  </div>
                  <div class="main-content">
                      <!-- <div class="main-content__subtitle">The effects of melting ice glaciers are biodiversity loss, the rising of the sea level and the deficiency of freshwater, among others.</div> -->
                      
                  </div>
              </div>
              <div class="center">
                  <div class="right-side__img">
                      <img class="bottle-bg" src="https://www.discover-the-world.com/app/uploads/2018/05/chile-patagonia-calving-glacier-is-1150x863-c-default.jpg" alt="">
                      <img class="bottle-img bottle-img1" style="width:160px" src="{% static 'images/mini cokies sac.webp' %}">
                  </div>
              </div>
          </div>
          <div class="main swiper-slide swiper-slide-prev swiper-slide-duplicate-next" id="coral" data-swiper-slide-index="3" style="width: 1023px; opacity: 1; transform: translate3d(-4092px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="4 / 5">
              <div class="left-side">
                  <div class="main-wrapper">
                      <h3 class="main-header">Beliedelice</h3>
                      <h1 class="main-title">Hiba Salbles</h1>
                      <h2 class="main-subtitle">0.00 DA</h2>
                  </div>
                  <div class="main-content">
                      
                      <!-- <div class="main-content__subtitle">Coral reefs are essential to humans, as they protect the shorelines and are a source of -->
                          <!-- nutrients and habitat for thousands of marine species.</div> -->
                      <!-- <div class="more-menu">
                          Shop Now
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <line x1="-5" y1="12" x2="19" y2="12"></line>
                              <line x1="15" y1="16" x2="19" y2="12"></line>
                              <line x1="15" y1="8" x2="19" y2="12"></line>
                          </svg>
                      </div> -->
                  </div>
              </div>
              <div class="center">
                  <div class="right-side__img">
                      <img class="bottle-bg" src="https://images.unsplash.com/photo-1546500840-ae38253aba9b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=3260&amp;q=80" alt="">
                      {% comment %} <img class="bottle-img bottle-img1" src="{% static 'images/product5.webp' %}"> {% endcomment %}
                      {% comment %} molto {% endcomment %}
                      <img class="bottle-img bottle-img1" src="{% static 'images/molto2.webp' %}">
                  </div>
              </div>
          </div>
  </div>
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
  <div class="button-wrapper">
      <div class="swiper-button swiper-prev-button" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-8f29632627322811">
          <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
          </svg>
      </div>
      <div class="swiper-button swiper-next-button" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-8f29632627322811">
          <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
          </svg>
      </div>
  </div>
  <div class="swiper-pagination swiper-pagination-fraction swiper-pagination-horizontal"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">5</span></div>
</div>
     
     </div>
  </div>
  <!-- <div class="header__arrow-down" style="bottom:-100px">
    <a href="#home">
       <img src="{% static 'images/arrow-down.webp' %}" alt="arrow-down" width="62" height="62">
    </a>
    </div> -->

 </header>
{% endblock header %}

{% block content %}
  <!-- <div class="animatedpaper" style="margin-top:50px">
    <div class="animatedpaperpart1" >
      <div class="productone">
        <img src="{% static 'images/DSC_1671.webp' %}" alt="">
      </div>
      
      <div class="productone">
        <img src="{% static 'images/DSC_1671.webp' %}" alt="">
      </div>
      <div class="productone">
        <img src="{% static 'images/DSC_1671.webp' %}" alt="">
      </div>

    
      <div class="productonegout" style="top: 60px;">
        <img src="{% static 'images/vanilla.webp' %}" alt="">
      </div>
      <div class="productonegout" style="bottom: -65px;">
        <img src="{% static 'images/blueberry.webp' %}" style="height: 120px;" alt="">
      </div>
      <div class="productonegout" style="bottom: -190px;">
        <img src="{% static 'images/purechoco.webp' %}" alt="">
      </div>
    </div>
    
  </div> -->
  <div class="wrapper products" id="pageSelector" style="margin-top:50px">
   
  <div data-open="Belidelice chocolate creme"></div>
  <div class="row">
    <div class="col-lg-12 hero-text">
      <h1>Découvrez tous nos produits</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="products">
      <div class="grid grid-original" style="position: relative; height:auto;">
                 <div class="grid-sizer"></div>
        <div class="grid-gutter"></div>
        
		
      <div class="grid-item grid-text grid-text--product grid-item--blueNavy" 
      style="position: absolute; left: 0%; top: 0px;">
      <div class="grid-order">1</div>
      <span>original</span>
    </div>
    
      <div data-product-ajax="/produits/Belidelice-original-rouleau-x2-308g?p=29525&amp;provider={d193998a-4a6d-4ea5-baa8-209357b27a09}"
     class="grid-item with-click grid-item--product-blueNavy grid-sizer-width-2" 
     style="position: absolute; left: 25.1647%; top: 0px;">
     <div class="grid-order">2</div>
     <div class="grid-item--product grid-item--product-flex grid-item--big-product" 
     data-color="blueNavy" data-product="Belidelice-original-rouleau-x2-308g" 
     data-orientation="landscape">
      <img class="responsive" src="{% static 'images/saccookies.webp' %}" 
      alt="Belidelice Original Rouleau X2 308G" width="200px" height="200px">
        <div class="product-name">Belidelice Original Rouleau X2 308G</div>
      </div>
    </div>
    
    <div data-product-ajax="/produits/Belidelice-original-154g?p=29523&amp;provider={d193998a-4a6d-4ea5-baa8-209357b27a09}" 
    class="grid-item with-click grid-item--product-blueNavy" 
    style="position: absolute; left: 75.6738%; top: 0px;">
    <div class="grid-order">3</div>
    <div class="grid-item--product grid-item--product-flex grid-item--small-product" 
    data-color="blueNavy" data-product="Belidelice-original-154g" data-orientation="landscape">
    <img class="responsive" src="{% static 'images/fatchabb.webp' %}"
     alt="Belidelice Original"    style="max-width: 280px !important;height:230px">
     <div class="product-name">Belidelice Original</div>
    </div>
  </div>
  <!-- <div data-product-ajax="/produits/Belidelice-original-pocket-220g?p=29530&amp;provider={d193998a-4a6d-4ea5-baa8-209357b27a09}"
   class="grid-item with-click grid-item--product-blueNavy grid-sizer-width-2" 
   style="position: absolute; left: 0%; top: 316px;">
   <div class="grid-order">4</div>
   <div class="grid-item--product grid-item--product-flex grid-item--big-product" 
   data-color="blueNavy" data-product="Belidelice-original-pocket-220g"
    data-orientation="landscape">
    <img class="responsive" src="{% static 'images/product3.webp' %}" 
    alt="Belidelice Original Pocket 220g" width="200px" height="200px">
    <div class="product-name">Belidelice Original Pocket 220g</div>
  </div>
</div> -->
<!-- <div data-product-ajax="/produits/Belidelice-original-format-familial-440g?p=29533&amp;provider={d193998a-4a6d-4ea5-baa8-209357b27a09}" 
class="grid-item with-click grid-item--product-blueNavy" 
style="position: absolute; left: 50.4193%; top: 316px;">
<div class="grid-order">5</div>
<div class="grid-item--product grid-item--product-flex grid-item--small-product" 
data-color="blueNavy" data-product="Belidelice-original-format-familial-440g" 
data-orientation="landscape">
<img class="responsive" src="{% static 'images/product3.webp' %}"
 alt="Belidelice Original Format Familial 440g" width="200px" height="200px">
 <div class="product-name">Belidelice Original Format Familial 440g</div>
</div>
</div> -->
<!-- <div data-product-ajax="/produits/Belidelice-original-lunchbox-220g?p=29534&amp;provider={d193998a-4a6d-4ea5-baa8-209357b27a09}" 
class="grid-item with-click grid-item--product-blueNavy" 
style="position: absolute; left: 75.6738%; top: 316px;">
<div class="grid-order">6</div>
<div class="grid-item--product grid-item--product-flex grid-item--small-product" 
data-color="blueNavy" data-product="Belidelice-original-lunchbox-220g" data-orientation="landscape">
<img class="responsive" src="{% static 'images/product3.webp' %}"
 alt="Belidelice Original Lunchbox 220g" width="200px" height="200px">
  <div class="product-name">Belidelice Original Lunchbox 220g</div>
</div>
</div>-->
</div> 
<div class="grid grid-golden" style="position: relative; min-height: 305px;">
                 <div class="grid-sizer"></div>
        <div class="grid-gutter"></div>
        
		
      <div class="grid-item grid-text grid-text--product grid-item--yellow" style="position: absolute; left: 0%; top: 0px;">
        <div class="grid-order">33</div><span>Golden<sup>1</sup></span>
      </div>
     
      <div data-id="2" class="grid-item with-click grid-item--product-yellow" 
      style="position: absolute; left: 25.1647%; top: 0px;">
       <div class="grid-order">34</div>
       <div class="grid-item--product grid-item--product-flex grid-item--small-product" 
       data-color="yellow" 
       data-product="Belidelice-golden-154g" data-orientation="landscape">
        <img style="width: 350px !important; height: 230px;" class="responsive" src="{% static 'images/mini-cookies-png.webp' %}" alt="Belidelice Enrobed White 246g" width="200px" 
        height="200px">

        <div class="product-name">Sac Gateau Hiba</div>
      </div>
    </div>
     
    <div  class="grid-item with-click grid-item--product-yellow grid-sizer-width-2" 
      style="position: absolute; left: 50.4193%; top: 0px;">
          
          <div class="grid-order">35</div><div class="grid-item--product grid-item--product-flex grid-item--big-product" data-color="yellow" data-product="Belidelice-golden-220g" data-orientation="landscape">
          <img style="max-width: 400px !important;" class="responsive" src="{% static 'images/belisacjaune.webp' %}" alt="" style="max-width: 300px;margin-top:20px" />

          <div class="product-name">Sac Cookies Beliedelice</div>
        </div>
      </div>
    </div>
<div class="grid grid-double" style="position: relative; min-height: 305px;">
                 <div class="grid-sizer"></div>
        <div class="grid-gutter"></div>
        
		
      <div class="grid-item grid-text grid-text--product grid-item--blue" style="position: absolute; left: 0%; top: 0px;"><div class="grid-order">7</div><span>Double Crème</span></div><div data-product-ajax="/produits/Belidelice-double-crème-157g?p=29524&amp;provider={d193998a-4a6d-4ea5-baa8-209357b27a09}" class="grid-item with-click grid-item--product-blue grid-sizer-width-2" style="position: absolute; left: 25.1647%; top: 0px;"><div class="grid-order">8</div><div class="grid-item--product grid-item--product-flex grid-item--big-product" data-color="blue" data-product="Belidelice-double-crème-157g" data-orientation="landscape">
        <img  class="responsive" src="{% static 'images/beli.webp' %}"
         alt="Belidelice Double CRÈME 157g" style="max-width: 280px !important;height: 260px !important;">
         <div class="product-name">Biscuit double Chockolat la créme de cacao</div></div></div><div data-product-ajax="/produits/Belidelice-double-crème-170g?p=29531&amp;provider={d193998a-4a6d-4ea5-baa8-209357b27a09}" class="grid-item with-click grid-item--product-blue" style="position: absolute; left: 75.6738%; top: 0px;"><div class="grid-order">9</div><div class="grid-item--product grid-item--product-flex grid-item--small-product" data-color="blue" data-product="Belidelice-double-crème-170g" data-orientation="landscape">
          <img class="responsive" src="{% static 'images/product3.webp' %}"
           alt="Belidelice Double Crème 170g"  style="height: 80px;width:190px;margin-top: 108px;">
           <div class="product-name">Bely Chockolat</div>
          </div>
        </div>
      </div>
<!--<div class="grid grid-crispy" style="position: relative; height: 305px;">
                 <div class="grid-sizer"></div>
        <div class="grid-gutter"></div>
        
		
       <div class="grid-item grid-text grid-text--product grid-item--pink"
       style="position: absolute; left: 0%; top: 0px;">
       <div class="grid-order">10</div>
       <span>Crispy &amp; Thin<sup>2</sup></span>
      </div> -->
      <!-- <div class="grid-item with-click grid-item--product-pink" 
      style="position: absolute; left: 25.1647%; top: 0px;">
      <div class="grid-order">11</div>
      <div class="grid-item--product grid-item--product-flex grid-item--small-product" 
      data-color="pink" >
      <img class="responsive" src="{% static 'images/product5.webp' %}" 
      alt="Belidelice Crispy &amp; Thin Vanille 192g" width="50px"
         height="200px">
         <div class="product-name">Belidelice Crispy &amp; Thin Vanille 192g</div>
        </div>
      </div> -->
      <!-- <div  class="grid-item with-click grid-item--product-pink" 
      style="position: absolute; left: 50.4193%; top: 0px;">
      <div class="grid-order">12</div>
      <div class="grid-item--product grid-item--product-flex grid-item--small-product" >
        <img class="responsive" src="https://images.sweetauthoring.com/product/89414.webp"
         alt="Belidelice Crispy &amp; Thin Vanille 384g" width="200px" height="200px">
         <div class="product-name">Belidelice Crispy &amp; Thin Vanille 384g</div>
        </div>
      </div> -->
      <!-- <div class="grid-item with-click grid-item--product-pink" 
      style="position: absolute; left: 75.6738%; top: 0px;">
      <div class="grid-order">13</div>
      <div class="grid-item--product grid-item--product-flex grid-item--small-product">
        <img class="responsive" src="https://images.sweetauthoring.com/product/88586.webp" 
        alt="Belidelice Crispy  &amp; Thin Coconut 192g" width="200px" height="200px">
        <div class="product-name">Belidelice Crispy  &amp; Thin Coconut 192g</div>
      </div>
    </div> 
  </div>-->
<div class="grid grid-enrobed" style="position: relative; min-height: 305px;">
                 <div class="grid-sizer"></div>
        <div class="grid-gutter"></div>
        
		
      <div class="grid-item grid-text grid-text--product grid-item--green" style="position: absolute; left: 0%; top: 0px;">
        <div class="grid-order">14</div>
        <span>Enrobé</span></div><div data-product-ajax="/produits/Belidelice-enrobed-white-246g?p=29532&amp;provider={d193998a-4a6d-4ea5-baa8-209357b27a09}" class="grid-item with-click grid-item--product-green grid-sizer-width-2" style="position: absolute; left: 25.1647%; top: 0px;"><div class="grid-order">15</div><div class="grid-item--product grid-item--product-flex grid-item--big-product" data-color="green" data-product="Belidelice-enrobed-white-246g" data-orientation="landscape">
        <img style="width: 130px !important;" class="responsive" src="{% static 'images/product5.webp' %}" alt="Belidelice Enrobed White 246g" width="100px" 
        height="200px">
        <div class="product-name">Belidelice Hiba sables</div></div></div><div data-product-ajax="/produits/Belidelice-enrobed-246g?p=29535&amp;provider={d193998a-4a6d-4ea5-baa8-209357b27a09}" class="grid-item with-click grid-item--product-green" style="position: absolute; left: 75.6738%; top: 0px;">
          <div class="grid-order">16</div><div class="grid-item--product grid-item--product-flex grid-item--small-product" data-color="green" data-product="Belidelice-enrobed-246g" data-orientation="landscape">
          <img style="width: 350px !important;height:230px" class="responsive" src="{% static 'images/hiba-png.webp' %}" alt="Belidelice Enrobed 246g" width="200px" height="200px">
          <div class="product-name">Belidelice Fatcha biscuit</div></div></div></div>
<div class="grid grid-chocolat" style="position: relative; min-height: 305px;">
                 <div class="grid-sizer"></div>
        <div class="grid-gutter"></div>
        
		
      <div class="grid grid-enrobed" style="position: relative; min-height: 305px;">
        <div class="grid-item grid-text grid-text--product grid-item--blueNavy" 
        style="position: absolute; left: 0%; top: 0px;">
          <div class="grid-order">17</div>
          <span>Beliedelice chocolat</span>
        </div>
        <div class="grid-item with-click grid-item--product-blueNavy" 
        style="position: absolute; left: 25.1647%; top: 0px;width:49.5% ">
        <div class="grid-order">18</div>
        <div class="grid-item--product grid-item--product-flex grid-item--small-product" 
        data-color="blueNavy" 
        data-product="milka-mini-Belidelice-92g" data-orientation="landscape">
          <img style="max-width: 350px !important;" class="responsive" src="{% static 'images/bely-noirepng.webp' %}" alt="Milka Mini-Belidelice 92g" >
          <div class="product-name">Bely Chockolat</div>
        </div>
      </div>
      {% comment %}  {% endcomment %}
      <div class="grid-item with-click grid-item--product-blueNavy" 
        style="position: absolute; left: 25.1647%; top: 0px; ">
        <div class="grid-order">18</div>
        <div class="grid-item--product grid-item--product-flex grid-item--small-product" 
        data-color="blueNavy" 
        data-product="milka-mini-Belidelice-92g" data-orientation="landscape">
          <img style="height: 180px;width:130px" class="responsive" src="{% static 'images/molto2.webp' %}" alt="Milka Mini-Belidelice 92g" width="200px" height="200px">
          <div class="product-name">Molto</div>
        </div>
      </div>
          
      </div>
    
<div class="grid grid-flavours" style="position: relative; min-height: 305px;">
                 <div class="grid-sizer"></div>
        <div class="grid-gutter"></div>
        
		
      <div class="grid-item grid-text grid-text--product grid-item--yellow" 
      style="position: absolute; left: 0%; top: 0px;">
      <div class="grid-order">21</div>
      <span>Flavors<sup>3</sup></span>
    </div>
    <div class="grid-item with-click grid-item--product-yellow" 
    style="position: absolute; left: 25.1647%; top: 0px;">
    <div class="grid-order">22</div>
    
    </div>
    <div  class="grid-item with-click grid-item--product-yellow" 
    style="position: absolute; left: 50.4193%; top: 0px;">
    <div class="grid-order">23</div>
    <div class="grid-item--product grid-item--product-flex grid-item--small-product" 
    data-color="yellow" data-product="Belidelice-saveur-peanut-butter-154g"
     data-orientation="landscape">
        <img class="responsive" src="{% static 'images/product6.webp' %}" 
        alt="Mini hiba Sables" style="width:200px;height:70px">
        <div class="product-name">Mini hiba Sables</div>
      </div>
    </div
    ><div  class="grid-item with-click grid-item--product-yellow"
    style="position: absolute; left: 75.6738%; top: 0px; width:49.5% ">
    <div class="grid-order">24</div>
    <div class="grid-item--product grid-item--product-flex grid-item--small-product" >
          <img class="responsive" src="{% static 'images/cookies.webp' %}" 
          alt="Cookies Double Chockolat" style="width:200px;height:200px;margin-top:10px">
          <div class="product-name">Cookies Double Chockolat</div>
        </div></div></div>
<div class="grid grid-glace" style="position: relative; height: auto;">
                 <div class="grid-sizer"></div>
        <div class="grid-gutter"></div>
        
 <div class="grid-item grid-text grid-text--product grid-item--purple" 
      style="position: absolute; left: 0%; top: 0px;">
        <div class="grid-order">25</div>
        <span>Sandwich</span>
      </div>
      <div class="grid-item with-click grid-item--product-purple grid-sizer-width-2" 
      style="position: absolute; left: 25.1647%; top: 0px;">
      <div class="grid-order">26</div>
      <div class="grid-item--product grid-item--product-flex grid-item--big-product">
        <img class="responsive" src="{% static 'images/DSC_1671.webp' %}"
         alt="Bâtonnet Belidelice à emporter" style="max-width:200px !important; height:170px">
         <div class="product-name">Beliedelice Sandwich</div>
        </div>
      </div> 
   
   {% comment %} {% for mydata in productsfil %}
      <div class="grid-item grid-text grid-text--product grid-item--purple" 
          style="position: absolute; left: 0%; top: 0px;">
            <div class="grid-order">25</div>
            <span>{{mydata.category}}</span>
          </div>
          {% for product in mydata.productscat %}
            <div class="grid-item with-click grid-item--product-purple grid-sizer-width-2" 
            style="position: absolute; left: 25.1647%; top: 0px; width: {{product.width}}% !important" >
            <div class="grid-order">26</div>
            <div class="grid-item--product grid-item--product-flex grid-item--big-product">
              <img class="responsive" src="/static{{product.image}}"
              alt="Bâtonnet Belidelice à emporter" width="200px" height="200px">
              <div class="product-name">{{product.product}}</div>
              </div>
          </div>
        {% endfor %}
   {% endfor %} {% endcomment %}
  </div>
</div>
  </div>
   </div>

</div>
<div class="overlay" id="overlay" style="width: 100%;z-index: 999999999999999;padding: 50px;
min-height: 100vh;position: absolute;top: 0;left: 0;display:none;background-color: rgba(205, 178, 142, 0.93);">


<div class="sweetControl grid-item product-description product-description-purple 
      landscape bâtonnet-Belidelice-à-emporter moredetDiv"
  style="position: relative;  margin-top:90px;width: 85%;margin: auto;">
  <div class="DivContainer SharedPage product-description--pointer product-description--pointer-landscape-purple" style="left: 25.2132%"></div>
  <div class="ContentItem BaseContent product-description--block">
  <div id="phcontent_0_IoPUserControl_ctl03_contentdiv" class="contentBody">
  <div class="grid-order">26</div>
  <i class="product-description--block-close fa fa-times"></i>
  <div class="row" style="margin:0;">
  <div class="col-lg-6 product-image">
  <div class="product-description--block-image" style="width: 300px;
  height: 230px;"><img  class="responsive image1" style="width:100%" src="{% static 'images/product5.webp' %}" alt=""></div>
  <div class="product-description--block-image-2" style="width: 300px;
  height: 230px;"><img style="width: 100%;" class="responsive image2" src="{% static 'images/product4.webp' %}" alt=""></div></div>
  <div class="col-lg-6 product-content">
  <div class="product-description--block-content">
  <div class="row">
 <div class="col-lg-12">
  <h1 class="product-title" style="font-weight: bolder;text-transform: uppercase;text-align:start">Bâtonnet Belidelice à emporter</h1>
  <p>Un bâtonnet au bon goût des biscuits Belidelice à déguster partout.
 Une recette qui saura vous séduire avec son alliance de glace onctueuse, de morceaux croustillants de biscuits Belidelice et d'un enrobage unique aux morceaux d'Belidelice.</p>
 </div>
  </div>
  <div class="row">
 <div class="col-lg-12">
  <h2 class="product-item-drin">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit; font-weight: bolder;" >Ce qu'il y a dedans</font>
  </font>
  </h2>
  <p>
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">Glace saveur crème avec des biscuits cacaotés fourrés goût vanille broyés en petits morceaux, enrobée avec une préparation avec des biscuits cacaotés fourrés goût vanille (33%) broyés en petits morceaux</font>
  </font>
  </p>
 </div>
 </div>
 <div class="row">
 <div class="col-lg-12">
  <h2 class="product-item-zutaten">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit; font-weight: bolder;">INGRÉDIENTS</font>
  </font>
  </h2>
  <p>
  Ingrédients : Lait écrémé réhydraté, biscuits cacaotés fourrés goût vanille broyés en petits morceaux 22% (farine de blé, sucre, huile de palme, huile de colza, poudre de cacao maigre 1%, amidon de blé, sirop de glucose-fructose, poudres à lever : carbonates de potassium, carbonates d’ammonium, carbonates de sodium, sel, émulsifiants : lécithine de soja, lécithine de tournesol, arôme), sucre, eau, graisse végétale de coprah, poudre de lactosérum, sirop de glucose, huile de tournesol, émulsifiants : mono- et diglycérides d’acides gras, lécithine de tournesol, polyricinoléate de polyglycérol, gélifiants : farine de graines de caroube et gomme guar, poudre de lait écrémé, arôme.
  </p>
 </div>
 </div>
 <div class="row">
 <div class="col-lg-12">
  <div class="product-description--block-content--table">
  <h2>
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;font-weight: bolder;">VALEURS NUTRITIONNELLES MOYENNES</font>
  </font>
  </h2>
  <table>
  <thead>
  <tr class="">
  <th scope="col">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;font-weight: bolder;">VALEURS NUTRITIONNELLES MOYENNES</font>
  </font>
  </th>
  <th scope="col">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">100 g</font>
  </font>
  </th>
  <th scope="col">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1 Belidelice (11g)</font>
  </font>
  </th>
  <th scope="col">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g)</font>
  </font>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr class="">
  <td class="name" scope="row">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">
 
 Glucides</font>
  </font>
  </td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">100 g </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">37g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">5g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1.8%</font>
  </font>
  </span></td>
  </tr>
  
  <tr class="">
  <td class="name" scope="row">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">
 Valeur énergétique</font>
  </font>
  </td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">100 g </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1423/341kJ/kcal</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">157/38kJ/kcal</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">17.0%</font>
  </font>
  </span></td>
  </tr>
  
  <tr class="">
  <td class="name" scope="row">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">
 
 Lipides</font>
  </font>
  </td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">100 g </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">20g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">3g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1%</font>
  </font>
  </span></td>
  </tr>
  
  <tr class="">
  <td class="name" scope="row">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">
 
 Protéines</font>
  </font>
  </td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">100 g </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">2.8g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1.8g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">0.1%</font>
  </font>
  </span></td>
  </tr>
  
  <tr class="">
  <td class="name" scope="row">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">
 Fibres alimentaires</font>
  </font>
  </td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">100 g </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">0.8g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">0.8g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">0.0%</font>
  </font>
  </span></td>
  </tr>
  
  <tr class="">
  <td class="name" scope="row">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">
 Sodium</font>
  </font>
  </td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">100 g </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">0.74g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">0.74g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">0.0%</font>
  </font>
  </span></td>
  </tr>
  
  <tr class="">
  <td class="name" scope="row">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">
 dont acides gras saturés</font>
  </font>
  </td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">100 g </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">13g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">2g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">0.6%</font>
  </font>
  </span></td>
  </tr>
  
  <tr class="">
  <td class="name" scope="row">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">
 
 dont sucres</font>
  </font>
  </td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">100 g </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">28g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">4g</font>
  </font>
  </span></td>
  <td data-title=""><span class="show-for-mobile-only nut_val_left">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
  </font>
  </span><span class="nut_val_right">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">1.4%</font>
  </font>
  </span></td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>
  <div class="row"><span class="footnote">
  <font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">** Quantité de référence pour un adulte moyen (8400 kJ / 2000 kcal).</font>
  </font>
  </span></div></div>
  </div>
  </div>
  </div>


{% endblock content %}

{% block js %}
  <script src="{% static 'js/products.js' %}"></script>
  <script src="{% static 'js/ecom.js' %}"></script>
  <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
  
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script src="{% static 'js/showpro.js' %}"></script>
      
{% endblock js %}
