{% extends "pages/base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/productDet.css' %}">
<link rel="stylesheet" href="{% static 'css/panier.css' %}">
  
{% endblock head %}

{% block content %}

<section class="product" style="width: 60%;padding-top: 50px;">
    <div class="product__photo">
      <div class="photo-container">
        <div class="photo-main">
          <div class="controls">
            <i class="material-icons">share</i>
            <i class="material-icons">favorite_border</i>
          </div>
          <img src="{% static 'images/87924.png' %}" alt="green apple slice">
        </div>
        <div class="photo-album">
          <ul>
            <li><img src="{% static 'images/87924.png' %}" alt="green apple slice"></li>
            <li><img src="{% static 'images/87924.png' %}" alt="green apple slice"></li>
            <li><img src="{% static 'images/87924.png' %}" alt="green apple slice"></li>
            <li><img src="{% static 'images/87924.png' %}" alt="green apple slice"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="product__info">
      <div class="title">
        <h1>Delicious Apples</h1>
        <span>COD: 45999</span>
      </div>
      <div class="price">
        R$ <span>7.93</span>
      </div>
      <div class="variant">
        <h3>SELECT A COLOR</h3>
        <ul>
          <li><img src="{% static 'images/87924.png' %}" alt="green apple slice"></li>
          <li><img src="{% static 'images/87924.png' %}" alt="green apple slice"></li>
          <li><img src="{% static 'images/87924.png' %}" alt="green apple slice"></li>
          <li><img src="{% static 'images/87924.png' %}" alt="green apple slice"></li>
        </ul>
      </div>
      <div class="description">
        <h3>BENEFITS</h3>
        <ul>
          <li>Apples are nutricious</li>
          <li>Apples may be good for weight loss</li>
          <li>Apples may be good for bone health</li>
          <li>They're linked to a lowest risk of diabetes</li>
        </ul>
      </div>
      <button class="buy--btn addcart">ADD TO CART</button>
      <button class="buy--btn moredet">MORE DETAILS</button>
    </div>
  </section>
  
<div class="sweetControl grid-item product-description product-description-purple 
        landscape bâtonnet-Belidelice-à-emporter moredetDiv"
    style="position: relative;  margin-top:90px;width: 85%;margin: auto;;display:none">
    <div class="DivContainer SharedPage product-description--pointer product-description--pointer-landscape-purple" style="left: 25.2132%"></div>
    <div class="ContentItem BaseContent product-description--block">
    <div id="phcontent_0_IoPUserControl_ctl03_contentdiv" class="contentBody">
    <div class="grid-order">26</div>
    <i class="product-description--block-close fa fa-remove"></i>
    <div class="row" style="margin:0;">
    <div class="col-lg-6 product-image">
    <div class="product-description--block-image"><img class="responsive" src="https://images.sweetauthoring.com/product/87883.png" alt=""></div><div class="product-description--block-image-2"><img class="responsive" src="https://images.sweetauthoring.com/product/87882.png" alt=""></div></div>
    <div class="col-lg-6 product-content">
    <div class="product-description--block-content">
    <div class="row">
   <div class="col-lg-12">
    <h1 class="product-title" style="font-weight: bolder;text-transform: uppercase;text-align:start">Bâtonnet Belidelice à emporter</h1>
    <p>Un bâtonnet au bon goût des biscuits Belidelice à déguster partout.
   Une recette qui saura vous séduire avec son alliance de glace onctueuse, de morceaux croustillants de biscuits Belidelice et d'un enrobage unique aux morceaux d'Belidelice.</p>
   </div>
    </div>
    <div class="row">
   <div class="col-lg-12">
    <h2 class="product-item-drin">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit; font-weight: bolder;" >Ce qu'il y a dedans</font>
    </font>
    </h2>
    <p>
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">Glace saveur crème avec des biscuits cacaotés fourrés goût vanille broyés en petits morceaux, enrobée avec une préparation avec des biscuits cacaotés fourrés goût vanille (33%) broyés en petits morceaux</font>
    </font>
    </p>
   </div>
   </div>
   <div class="row">
   <div class="col-lg-12">
    <h2 class="product-item-zutaten">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit; font-weight: bolder;">INGRÉDIENTS</font>
    </font>
    </h2>
    <p>
    Ingrédients : Lait écrémé réhydraté, biscuits cacaotés fourrés goût vanille broyés en petits morceaux 22% (farine de blé, sucre, huile de palme, huile de colza, poudre de cacao maigre 1%, amidon de blé, sirop de glucose-fructose, poudres à lever : carbonates de potassium, carbonates d’ammonium, carbonates de sodium, sel, émulsifiants : lécithine de soja, lécithine de tournesol, arôme), sucre, eau, graisse végétale de coprah, poudre de lactosérum, sirop de glucose, huile de tournesol, émulsifiants : mono- et diglycérides d’acides gras, lécithine de tournesol, polyricinoléate de polyglycérol, gélifiants : farine de graines de caroube et gomme guar, poudre de lait écrémé, arôme.
    </p>
   </div>
   </div>
   <div class="row">
   <div class="col-lg-12">
    <div class="product-description--block-content--table">
    <h2>
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;font-weight: bolder;">VALEURS NUTRITIONNELLES MOYENNES</font>
    </font>
    </h2>
    <table>
    <thead>
    <tr class="">
    <th scope="col">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;font-weight: bolder;">VALEURS NUTRITIONNELLES MOYENNES</font>
    </font>
    </th>
    <th scope="col">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">100 g</font>
    </font>
    </th>
    <th scope="col">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1 Belidelice (11g)</font>
    </font>
    </th>
    <th scope="col">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g)</font>
    </font>
    </th>
    </tr>
    </thead>
    <tbody>
    <tr class="">
    <td class="name" scope="row">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
   
   Glucides</font>
    </font>
    </td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">100 g </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">37g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">5g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1.8%</font>
    </font>
    </span></td>
    </tr>
    
    <tr class="">
    <td class="name" scope="row">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
   Valeur énergétique</font>
    </font>
    </td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">100 g </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1423/341kJ/kcal</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">157/38kJ/kcal</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">17.0%</font>
    </font>
    </span></td>
    </tr>
    
    <tr class="">
    <td class="name" scope="row">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
   
   Lipides</font>
    </font>
    </td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">100 g </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">20g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">3g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1%</font>
    </font>
    </span></td>
    </tr>
    
    <tr class="">
    <td class="name" scope="row">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
   
   Protéines</font>
    </font>
    </td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">100 g </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">2.8g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1.8g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">0.1%</font>
    </font>
    </span></td>
    </tr>
    
    <tr class="">
    <td class="name" scope="row">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
   Fibres alimentaires</font>
    </font>
    </td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">100 g </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">0.8g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">0.8g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">0.0%</font>
    </font>
    </span></td>
    </tr>
    
    <tr class="">
    <td class="name" scope="row">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
   Sodium</font>
    </font>
    </td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">100 g </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">0.74g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">0.74g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">0.0%</font>
    </font>
    </span></td>
    </tr>
    
    <tr class="">
    <td class="name" scope="row">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
   dont acides gras saturés</font>
    </font>
    </td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">100 g </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">13g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">2g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">0.6%</font>
    </font>
    </span></td>
    </tr>
    
    <tr class="">
    <td class="name" scope="row">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
   
   dont sucres</font>
    </font>
    </td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">100 g </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">28g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">4g</font>
    </font>
    </span></td>
    <td data-title=""><span class="show-for-mobile-only nut_val_left">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">% ** / 1 Belidelice (11g) </font>
    </font>
    </span><span class="nut_val_right">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1.4%</font>
    </font>
    </span></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <div class="row"><span class="footnote">
    <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">** Quantité de référence pour un adulte moyen (8400 kJ / 2000 kcal).</font>
    </font>
    </span></div></div>
    </div>
    </div>
    </div>
    </div>
     </div>
     <script src="{% static 'js/productDet.js' %}"></script>

{% endblock content %}